{% extends 'form_div_layout.html.twig' %}

{% block form_row -%}
    <div>
        {% block form_label -%}
            {% if label is not sameas(false) -%}
                {% if not compound -%}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {%- endif %}
                {% if required -%}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {%- endif %}
                {% if label is empty -%}
                    {% set label = name|humanize %}
                {%- endif -%}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                    {{ label|trans({}, translation_domain) }}
                    {% if attr.label_info is defined and attr.label_info != '' %}
                        <a class="show-at-hover">
                            <img src="{{ asset('assets/images/info.png') }}" />
                            <span>{{ attr.label_info }}</span>
                        </a>
                    {% endif %}
                </label>
            {%- endif %}
        {%- endblock form_label %}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}
