<head>
    <link href="{{ absolute_url(asset('assets/css/PdfGeneratedDocuments.css')) }}" rel="stylesheet" type="text/css" />
    <link href="{{ absolute_url(asset('assets/css/Bootstrap-3.2.0/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div >
                <img class="logo-image" src="{{ absolute_url(asset('assets/images/logo.png')) }}" alt="logo" />
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-4">
                <div >{{ 'invoice.supplier'|trans }}: <span class="text-bold">{{ billingData['company_name'] }}</span></div>
                <div >{{ 'invoice.company-code'|trans }}: <span class="text-bold">{{ billingData['company_code'] }}</span></div>
                <div >{{ 'invoice.company-registration-number'|trans }}: <span class="text-bold">{{ billingData['registration_number'] }}</span></div>
                <div >{{ 'invoice.headquarters'|trans }}: <span class="text-bold">{{ billingData['address'] }}</span></div>
                <div >{{ 'invoice.iban'|trans }}: <span class="text-bold">{{ billingData['iban'] }}</span></div>
                <div >{{ 'invoice.bank'|trans }}: <span class="text-bold">{{ billingData['bank'] }}</span></div>
                <div >{{ 'invoice.social-capital'|trans }}: <span class="text-bold">{{ billingData['social_capital'] }}</span></div>
            </div>
            <div class="col-xs-4 pull-right">
                <div >{{ 'invoice.client'|trans }}: <span class="text-bold">{{ user.profile.company }}</span></div>
                <div >{{ 'invoice.company-code'|trans }}: <span class="text-bold">{{ user.profile.cui }}</span></div>
                <div >{{ 'invoice.company-registration-number'|trans }}: <span class="text-bold">{{ user.profile.noRegistrationOrc }}</span></div>
                <div >{{ 'invoice.headquarters'|trans }}: <span class="text-bold">{{ user.profile.address }}, {{ user.profile.city }}</span></div>
                <div >{{ 'invoice.county'|trans }}: <span class="text-bold">{{ user.profile.county }}</span></div>
                <div >{{ 'invoice.iban'|trans }}: <span class="text-bold">{{ user.profile.iban }}</span></div>
                <div >{{ 'invoice.bank'|trans }}: <span class="text-bold">{{ user.profile.bank }}</span></div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <div ><h3 class="text-bold">{{ 'invoice.title'|trans }}</h3></div>
                <div >{{ 'invoice.series'|trans }}: <span class="text-bold">{{ billingData['invoice_series'] }}</span></div>
                <div >{{ 'invoice.invoice-number'|trans }}: <span class="text-bold">{{ "%06d"|format(order.id) }}</span></div>
                <div >{{ 'invoice.date'|trans }}: <span class="text-bold">{{ order.createdAt| localizeddate('medium', 'none', app.request.locale) }}</span></div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <div >{{ 'invoice.VAT'|trans }}: <span class="text-bold">{{ billingData['VAT_percent'] }}</span></div>
                <table class="table table-bordered no-bottom-margin text-center">
                    <th class="text-center">{{ 'invoice.number'|trans }}</th>
                    <th class="text-center">{{ 'invoice.description'|trans }}</th>
                    <th class="text-center">{{ 'invoice.measure'|trans }}</th>
                    <th class="text-center">{{ 'invoice.quantity'|trans }}</th>
                    <th class="text-center">{{ 'invoice.price'|trans }}</br>{{ 'invoice.currency'|trans }}</th>
                    <th class="text-center">{{ 'invoice.value'|trans }}</br>{{ 'invoice.currency'|trans }}</th>
                    <th class="text-center">{{ 'invoice.VAT-value'|trans }}</br>{{ 'invoice.currency'|trans }}</th>
                    <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>1</dt>
                        <td>{{ 'order.subscription'|trans }}: {{ order.subscription.name }}</td>
                        <td>{{ 'invoice.piece'|trans }}</td>
                        <td>{{ 1|number_format(2, '.', ',') }}</td>
                        <td>{{ order.price|number_format(2, '.', ',') }}</td>
                        <td>{{ order.price|number_format(2, '.', ',') }}</td>
                        <td>{{ (order.price * billingData['VAT']) |number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr class="high-row">
                        <td colspan="7"></dt>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <tr class="medium-row">
                        <td rowspan='2' class="small-td">{{ 'invoice.signature-stamp'|trans }}</td>
                        <td rowspan='2' class="large-td">
                            {{ 'invoice.delegate'|trans }}</br>
                            {{ 'invoice.delegate-ID'|trans }}</br>
                            {{ 'invoice.signature'|trans }}</br>
                        </td>
                        <td>{{ 'invoice.total'|trans }}</td>
                        <td class="text-center" >{{ order.price|number_format(2, '.', ',') }}{{ 'currency'|trans }}</td>
                        <td class="text-center" >{{ (order.price * billingData['VAT']) |number_format(2, '.', ',') }}{{ 'currency'|trans }}</td>
                    </tr>
                    <tr class="medium-row">
                        <td>{{ 'invoice.general-total'|trans }}</td>
                        <td colspan='2' class="text-center">{{ (order.price * ( 1 + billingData['VAT'] ))|number_format(2, '.', ',') }}{{ 'currency'|trans }}</td>
                    </tr>
                </table>
                <div class='pull-right'>{{ 'invoice.maturity'|trans }}: <span class="text-bold">{{ order.createdAt|date_modify("+1 month")| localizeddate('medium', 'none', app.request.locale) }}</span></div> 
            </div>
        </div>
    </div>
</body>

