{% extends "base.html.twig" %}

{% block ccontainer %}
    <div class="col-xs-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs clearfix" role="tablist">
            <li><a href="{{ path("show_active_credits") }}" id="nav-active-credits">{{ 'order.tab.active-credits'|trans|upper }}</a></li>
            <li><a href="{{ path("show_pending_orders") }}" id="nav-pending">{{ 'order.tab.pending-orders'|trans|upper }}</a></li>
            <li><a href="{{ path("show_valid_documents") }}" id="nav-documents">{{ 'order.tab.unlocked-documents'|trans|upper }}</a></li>
            <li><a href="{{ path("show_credit_usage") }}" id="nav-usage">{{ 'order.tab.credit-usage'|trans|upper }}</a></li>
            <li><a href="{{ path("show_credit_history") }}" id="nav-history">{{ 'order.tab.credit-history'|trans|upper }}</a></li>
        </ul>
    </div>
    <div class="col-xs-9">
        <div class="tab-content domain-description">
            <div class="tab-pane active" id="ssm">
                <h1 class="title-top">{{ 'order.title'|trans }}</h1>
                <p>{{ 'order.description'|trans }}</p>
                <ul>
                    <li>{{ 'order.tab.active-credits'|trans }}</li>
                    <li>{{ 'order.tab.pending-orders'|trans }}</li>
                    <li>{{ 'order.tab.unlocked-documents'|trans }}</li>
                    <li>{{ 'order.tab.credit-usage'|trans }}</li>
                    <li>{{ 'order.tab.credit-history'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
