<div class="row"><hr></div>
<h5>{{ 'order.total-active-credits'|trans }}: {{ activeOrderTotal }}</h5>
<h5>{{ 'order.total-used-credits'|trans }}: {{ usedCreditsTotal }}</h5>
<h5>{{ 'total-credits'|trans }} {{ activeOrderTotal-usedCreditsTotal }}</h5>
