<div class="tab-pane" id="documents">
    {% if validDocuments is not empty %}
        <h4>{{ 'order.unlocked-documents'|trans }}</h4>
        <table class="col-xs-12 table-bordered text-center small">
            <th class="text-center ">{{ 'order.nr'|trans }}</th>
            <th class="text-center ">{{ 'order.document'|trans }}</th>
            <th class="text-center ">{{ 'order.domain'|trans }}</th>
            <th class="text-center ">{{ 'order.subdomain'|trans }}</th>
            <th class="text-center ">{{ 'order.until'|trans }}</th>
                {% for document in validDocuments %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('sonata_media_download', {'id': documentObjects[document.id]|sonata_urlsafeid }) }}">{{ document.title }}</a></td>
                    <td>{{ document.domain }}</td>
                    <td>{{ document.subDomain }}</td>
                    <td>{{ document.date| localizeddate('medium', 'short', app.request.locale ) }}</td>
                </tr>    
            {% endfor %}
        </table>
    {% else %}
        <h4>{{ 'order.no-unlocked-documents'|trans }}</h4>
    {% endif %}
</div> 
