<div class="tab-pane" id="documents">
    {% if validDocuments.items is not empty %}
        <h4>{{ 'order.unlocked-documents'|trans }}</h4>
        <table class="col-xs-12 table-bordered text-center small">
            <th class="text-center ">{{ 'order.nr'|trans }}</th>
            <th class="text-center ">{{ 'order.document'|trans }}</th>
            <th class="text-center ">{{ 'order.domain'|trans }}</th>
            <th class="text-center ">{{ 'order.subdomain'|trans }}</th>
            <th class="text-center ">{{ 'order.until'|trans }}</th>
                {% for document in validDocuments.items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                    {% if document.mid is defined and document.mid is not null %}
                        <a href="{{ path('sonata_media_download', { 'id':document.mid }) }}">{{ document.usageType | capitalize }}: {{ document.name }}</a>
                    {% else %}
                        {{ document.usageType | capitalize }}: {{ document.name }}
                    {% endif %}
                    {% if document.usageType == formularType %}
                        {{ render(controller('AppBundle:Formular:getFormularDocumentsShortFormConfigurationText', {'creditUsageId' : document.cuid })) }}
                    {% endif %}
                    </td>
                    <td>{{ document.domain }}</td>
                    <td>{{ document.subDomain }}</td>
                    <td>{{ document.date| localizeddate('medium', 'short', app.request.locale ) }}</td>
                </tr>    
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(validDocuments) }}
        </div>
    {% else %}
        <h4>{{ 'order.no-unlocked-documents'|trans }}</h4>
    {% endif %}
</div> 
