<div class="tab-pane" id="history">
    <div class="tab-pane" id="usage">
        {% if creditHistoryItems is not empty %}
            <h4>{{ 'order.credit-history'|trans }}</h4>
            <table class="col-xs-12 table-bordered text-center small">
                <th class="text-center ">{{ 'order.nr'|trans }}</th>
                <th class="text-center ">{{ 'order.subject'|trans }}</th>
                <th class="text-center ">{{ 'order.unlocked-at'|trans }}</th>
                <th class="text-center ">{{ 'order.until'|trans }}</th>
                <th class="text-center ">{{ 'order.credits'|trans }}</th>
{#                <th class="text-center ">{{ 'order.order-nr'|trans }}</th>#}
                <th class="text-center ">{{ 'order.mentions'|trans }}</th>
                <th class="text-center ">{{ 'order.status'|trans }}</th>
                    {% for item in creditHistoryItems %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.subject|trans }}: {{ item.title }}</td>
                        <td>{{ item.unlockDate|date('d M Y H:i') }}</td>
                        <td>{{ item.expireDate|date('d M Y H:i') }}</td>
                        <td>{{ item.sign ~ item.credit }}</td>
{#                        <td>{% if item.orderId != '' %}#{{ "%06d"|format(item.orderId) }}{% endif %}</td>#}
                        <td>{% if item.mentions != '' %}
                                {{ item.mentions }}
                            {% else %}
                                {{ 'order.no-mentions'|trans }}
                            {% endif %}
                            </td>
                        <td>{{ item.status|trans }}</td>
                    </tr>    
                {% endfor %}
            </table>
            {{ render(controller('AppBundle:Order:showCreditTotals')) }}
        {% else %}
            <h4>{{ 'order.no-credit-history'|trans }}</h4>
        {% endif %}
    </div>
</div>   
