<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><a href="{{ path('register') }}"><i class="fa fa-plus"></i>Register</a></p>
        <p><a href="{{ path('terms') }}"><i class="fa fa-cog"></i> Termeni si conditii</a></p>
        <p class="last"><a href="{{ path('news') }}"><i class="fa fa-exclamation-circle"></i> Noutati</a></p>
        <p class="last"><a href="{{ path('newsletter') }}"><i class="fa fa-exclamation-circle"></i> Newsletter</a></p>
        <p class="last pull-right">
            <img src="{{ asset('assets/images/logo-fotter.png') }}" alt="" />
        </p>
      </div>
    </div>
  </div>
</footer>

