{% for flash_message in app.session.flashbag.get('successful-register') %}
    <p class="color-green" >{{ flash_message|trans }}</p>
{% endfor %}
{% for flash_message in app.session.flashbag.get('successful-login') %}
    <p class="color-green" >{{ flash_message|trans }}</p>
{% endfor %}
{% for flash_message in app.session.flashbag.get('successful-reset') %}
    <p class="color-green" >{{ flash_message|trans }}</p>
{% endfor %}
{% if app.user %}
    {% if app.user.creditsTotal %}
        <div class="login-form" id="loginDiv">
            <p class="first">{{ 'login.total-credits'|trans }}</p>
            <h4 id="totalUserCredits">{{ app.user.creditsTotal }}</h4>
        </div>
    {% endif %}
    <input type="button" class="costum" value="{{ 'login.button.logout'|trans }}" onclick="UserLogOut('{{ path('sonata_user_security_logout') }}')" />
{% else %}
    <form action="" method="post" onsubmit="return false">
        <input id="SubscriptionType" name="SubscriptionType" type="hidden" value="" />
        <div class="login-form" id="loginDiv">
            <p class="first">{{ 'login.label'|trans }}</p>
            <p class="color-red" id="loginValidation" hidden="hidden">{{ 'login.failed'|trans }}</p>
            <input data-val="true" data-val-required="{{ 'form.required.email'|trans }}" id="LoginUserName" name="UserName" placeholder="{{ 'form.label.email'|trans }}" type="text" value="" />
            <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true" id="validUser" ></span>
            <input data-val="true" data-val-required="{{ 'form.required.password'|trans }}" id="LoginPassword" name="Password" placeholder="{{ 'form.label.password'|trans }}" type="password" />
            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true" id="validPass" ></span>
            <input type="submit" class="costum" value="{{ 'login.button.login'|trans }}" onclick="GoLogin('{{ path('sonata_user_security_check') }}', '{{ path('homepage') }}')" />
            <br class="clear" />
            <p class="last"><a onclick="ResetPasswordShow()" href="#">{{ 'login.forgot'|trans }}</a></p>
            <p class="last"><a onclick="FreeAccountRegister()" href="#">{{ 'login.free'|trans }}</a></p>
        </div> 
    </form>
    <form action="" method="post" onsubmit="return false">
        <div class="login-form" id="freeAccountDiv" hidden="hidden">
            <div id="createFreeAccount">
                <p id="FreeUserNameDuplicateEmail" class="color-red" hidden="hidden"></p>
                <div class="editor-field">
                    <input data-val="true" data-val-required="{{ 'form.required.name'|trans }}" id="FreeManagerName" name="ManagerName" placeholder="{{ 'form.label.name'|trans }}" type="text" value="" />
                    <p id="FreeManagerNameValid" class="color-red" hidden="hidden">{{ 'form.required.name'|trans }}</p>
                </div>
                <div class="editor-field">
                    <input id="FreeUserName" name="UserName" placeholder="{{ 'form.label.email'|trans }}" type="text" value="" />
                    <p id="FreeUserNameValid" class="color-red" hidden="hidden">{{ 'form.required.email'|trans }}</p>
                    <p id="FreeUserNameValidEmail" class="color-red" hidden="hidden">{{ 'form.valid.email'|trans }}</p>
                </div>
                <div class="editor-label clearfix">
                    <input class="pull-left" type="checkbox" name="selected" id="freecheck" onclick="goFreeAccount()" />
                    <a href="{{ path('terms') }}" id="acceptTerms"  onclick="return popitup('{{ path('terms') }}')">{{ 'form.label.terms'|trans }}</a>    
                </div>
                <p id="FreeAccountText" class="color-red" hidden="hidden">
                    {{ 'form.required.terms-of-use'|trans }}
                </p>
                <p class="login-form">
                    <input type="submit" value="{{ 'login.button.register'|trans }}" id="btnFreeAccount" class="costum" onclick="SubmitFreeAccount()" />
                </p>
                <br class="clear" />
            </div>
            {#<div id="FreeAccountExist" hidden="hidden">
                <p>&nbsp;&nbsp; Crearea contului gratuit s-a realizat. Veti primi pe adresa de mail introdusa, datele de contact pentru logare. </p>
                <p><a href="#"  data-toggle="modal" data-target="#myModal1" onclick="FreeAccountSucceeded()" >Inchide creare cont gratuit.</a></p>
            </div>#}
        </div>
    </form>
    <form action="" method="post" onsubmit="return false">
        <div class="login-form" id="resetPassDiv" hidden="hidden">
            <div id="resetPass">
                <p id="UserNameTextError" class="color-red" hidden="hidden"></p>
                <div class="editor-field">
                    <input id="UserNamePass" name="UserName" placeholder="{{ 'form.label.email'|trans }}" type="text" value="" />
                    <p id="UserNameValid" class="color-red" hidden="hidden">{{ 'form.required.email'|trans }}</p>
                    <p id="UserNameValidEmail" class="color-red" hidden="hidden">{{ 'form.valid.email'|trans }}</p>
                </div>    
                <p class="login-form">
                    <input type="button" value="{{ 'login.button.reset'|trans }}" id="btnResetPass" class="costum" onclick="SubmitResetPassword('{{ path('forgot_password') }}')" />
                </p>
                <br class="clear" />
            </div>
            <div id="resetPassSucc" hidden="hidden">
                <p>&nbsp;&nbsp; {{ 'success.reset-password'|trans }} </p>
                <p><a href="#"  data-toggle="modal" data-target="#myModal1" onclick="ResetPasswordSucceeded()" > {{ 'login.close-password'|trans }}</a></p>
            </div>
        </div>
    </form>
{% endif %}


