{% for flash_message in app.session.flashbag.get('successful-reset') %}
    <h5 class="color-blue text-center first" >{{ flash_message|trans }}</h5>
{% endfor %}
{% for flash_message in app.session.flashbag.get('successful-activate') %}
    <h5 class="color-blue text-center first" >{{ flash_message|trans }}</h5>
{% endfor %}
{% for flash_message in app.session.flashbag.get('successful-change') %}
    <h5 class="color-blue text-center first" >{{ flash_message|trans }}</h5>
{% endfor %}
{% if app.user %}
    <div class="login-form" id="loginDiv">
        <p class="first text-center text-small">{{ 'login.user-information'|trans }}</p>
        <h4 class="text-center">{{ 'total-credits'|trans }}</h4>
        {% if app.user.creditsTotal %}
            <h4 id="totalUserCredits" class="text-center">{{ app.user.creditsTotal }}</h4>
        {% else %}
            <h4 id="totalUserCredits" class="text-center">0</h4>
        {% endif %}
        <input type="button" class="costum centered" value="{{ 'login.button.logout'|trans }}" onclick="UserLogOut('{{ path('sonata_user_security_logout') }}')" />
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <p class="last"><a href="{{ path('sonata_admin_dashboard') }}">{{ 'login.administration'|trans }}</a></p>
            {% endif %}
        <p class="last"><a href="{{ path('change_password') }}">{{ 'login.change-password'|trans }}</a></p>
        <p class="last"><a href="{{ path('change_info') }}">{{ 'login.change-user-information'|trans }}</a></p>
        <p class="last"><a href="{{ path('show_orders') }}">{{ 'login.credit-status'|trans }}</a></p>
    </div>
{% elseif not app.user %}
    <form action="" method="post" onsubmit="return false">
        <input id="SubscriptionType" name="SubscriptionType" type="hidden" value="" />
        <div class="login-form" id="loginDiv">
            <p class="first">{{ 'login.label'|trans }}</p>
            <p class="color-red text-center" id="loginValidation" hidden="hidden">{{ 'login.failed'|trans }}</p>
            <input data-val="true" data-val-required="{{ 'form.required.email'|trans }}" id="LoginUserName" name="UserName" placeholder="{{ 'form.label.email'|trans }}" type="text" value="" />
            <span class="field-validation-valid text-center" data-valmsg-for="UserName" data-valmsg-replace="true" id="validUser" ></span>
            <input data-val="true" data-val-required="{{ 'form.required.password'|trans }}" id="LoginPassword" name="Password" placeholder="{{ 'form.label.password'|trans }}" type="password" />
            <span class="field-validation-valid text-center" data-valmsg-for="Password" data-valmsg-replace="true" id="validPass" ></span>
            <input type="submit" class="costum" value="{{ 'login.button.login'|trans }}" onclick="GoLogin('{{ path('sonata_user_security_check') }}', '{{ path('homepage') }}', '{{ path('sonata_admin_dashboard') }}');" />
            <br class="clear" />
            <p class="last"><a onclick="ResetPasswordShow();" href="#">{{ 'login.forgot'|trans }}</a></p>
            <p class="last"><a onclick="FreeAccountRegister();" href="#">{{ 'login.free'|trans }}</a></p>
        </div>
    </form>
    <form action="" method="post" onsubmit="return false">
        <div class="login-form" id="freeAccountDiv" hidden="hidden">
            <div id="createFreeAccount">
                <p id="FreeUserNameDuplicateEmail" class="color-red" hidden="hidden"></p>
                <div class="editor-field">
                    <input data-val="true" data-val-required="{{ 'form.required.name'|trans }}" id="FreeManagerName" name="ManagerName" placeholder="{{ 'form.label.name'|trans }}" type="text" value="" />
                    <p id="FreeManagerNameValid" class="color-red" hidden="hidden">{{ 'form.required.name'|trans }}</p>
                </div>
                <div class="editor-field">
                    <input id="FreeUserName" name="UserName" placeholder="{{ 'form.label.email'|trans }}" type="text" value="" />
                    <p id="FreeUserNameValid" class="color-red text-center" hidden="hidden">{{ 'form.required.email'|trans }}</p>
                    <p id="FreeUserNameValidEmail" class="color-red text-center" hidden="hidden">{{ 'form.valid.email'|trans }}</p>
                </div>
                {% if domains is empty %}
                    <input id="domainSlug" type="hidden" value="{{ 'default_demo_domain' }}" />
                {% elseif domains|length == 1 %}
                    <input id="domainSlug" type="hidden" value="{{ domains[0].slug }}" />
                {% else %}
                    <div class="editor-field input-element">
                        <label class="small">{{ 'form.label.demo-domain'|trans }}</label>
                        <select id="domainSlug">
                            {% for domain in domains %}
                                <option value="{{ domain.slug }}">{{ domain.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <div class="editor-label clearfix">
                    <input class="pull-left" type="checkbox" name="selected" id="freecheck" onclick="goFreeAccount()" />
                    <a href="{{ path('terms') }}" id="acceptTerms"  onclick="return popitup('{{ path('terms') }}');">{{ 'form.label.terms'|trans }}</a>
                </div>
                <p id="FreeAccountText" class="color-red" hidden="hidden">
                    {{ 'form.required.terms-of-use'|trans }}
                </p>
                <p class="login-form">
                    <input type="submit" value="{{ 'login.button.register'|trans }}" id="btnFreeAccount" class="costum" onclick="SubmitFreeAccount('{{ path('create_demo_account')}}');" />
                </p>
                <br class="clear" />
            </div>
            <div id="FreeAccountExist" hidden="hidden">
                <p>&nbsp;&nbsp; Crearea contului gratuit s-a realizat. Veti primi pe adresa de mail introdusa, datele de contact pentru logare. </p>
                <p><a href="#"  data-toggle="modal" data-target="#myModal1" onclick="FreeAccountSucceeded();" >Inchide creare cont gratuit.</a></p>
            </div>
        </div>
    </form>
    <form action="" method="post" onsubmit="return false">
        <div class="login-form" id="resetPassDiv" hidden="hidden">
            <div id="resetPass">
                <p id="UserNameTextError" class="color-red" hidden="hidden"></p>
                <div class="editor-field">
                    <input id="UserNamePass" name="UserName" placeholder="{{ 'form.label.email'|trans }}" type="text" value="" />
                    <p id="UserNameValid" class="color-red" hidden="hidden">{{ 'form.required.email'|trans }}</p>
                    <p id="UserNameValidEmail" class="color-red" hidden="hidden">{{ 'form.valid.email'|trans }}</p>
                </div>
                <p class="login-form">
                    <input type="button" value="{{ 'login.button.reset'|trans }}" id="btnResetPass" class="costum" onclick="SubmitResetPassword('{{ path('forgot_password') }}');" />
                </p>
                <br class="clear" />
            </div>
            <div id="resetPassSucc" hidden="hidden">
                <p>&nbsp;&nbsp; {{ 'success.reset-password'|trans }} </p>
                <p><a href="#"  data-toggle="modal" data-target="#myModal1" onclick="ResetPasswordSucceeded();" > {{ 'login.close-password'|trans }}</a></p>
            </div>
        </div>
    </form>
    <form action="" method="post" onsubmit="return false">
        <div class="login-form" id="resendActivationEmailDiv" hidden="hidden">
            <div id="resendActivationEmail">
                <p id="activationEmailError" class="color-red" hidden="hidden"></p>
                <p> {{ 'resend-activation'|trans }} </p>
                <div class="editor-field">
                    <input id="activationEmail" name="activationEmail" type="hidden" value="" />
                </div>
                <p class="login-form">
                    <input type="button" value="{{ 'login.button.resend'|trans }}" id="btnResendActivationEmail" class="costum" onclick="SubmitResendActivationEmail('{{ path('resend_activation_email') }}')" />
                </p>
                <br class="clear" />
            </div>
            <div id="resendActivationEmailSucc" hidden="hidden">
                <p>&nbsp;&nbsp; {{ 'success.resend-activation'|trans }} </p>
                <p><a href="#"  data-toggle="modal" data-target="#myModal1" onclick="ResendActivationSucceeded();" > {{ 'login.button.close'|trans }}</a></p>
            </div>
        </div>
    </form>
{% endif %}


