<nav class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="clearfix">
          <li><a href="{{ path('homepage') }}">{{ 'home.title'|trans }}</a></li>
      {% if accType == 0 %}
        {% for menu in domains %}
          <li><a href="{{ path('domain_show', {'domain': menu.slug}) }}">{{ menu.name }}</a></li>
        {% endfor %}
      {% elseif accType == 1%}
        {% for menu in domains %}
          {% if menu.slug == 'mediu' %}
          <li><a href="{{ path('domain_show', {'domain': menu.slug}) }}">{{ menu.name }}</a></li>
          {% endif %}
	{% endfor %}
      {% else %}
         {% for menu in domains %}
          {% if menu.slug != 'mediu' %}
          <li><a href="{{ path('domain_show', {'domain': menu.slug}) }}">{{ menu.name }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
      </ul>
    </div>
  </div>
</nav>

