{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'assets/flowplayer/skin/minimalist.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
          'assets/flowplayer/flowplayer.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block modal %}
    {% include 'domain/domain_document_confirm_modal.html.twig' %}
    {% include 'domain/domain_video_confirm_modal.html.twig' %}
    {% include 'document_form/config/config_form_add_confirm_modal.html.twig' %}
{% endblock modal %}

{% block ccontainer %}
    <div class="col-xs-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs clearfix" role="tablist">
            {% for subdomainItem in domain.subdomains %}
                {% if not subdomainItem.deleted %}
                    {% set active = (subdomain.id == subdomainItem.id) ? "class=active" : "" %}
                    <li {{ active }}><a href="{{ path("subdomain_show", {'domain': domain.slug, 'subdomain': subdomainItem.slug }) }}">{{ subdomainItem.name | upper }}</a></li>
                    {% endif %}
                {% endfor %}
        </ul>
    </div>
    <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content domain-description">
            {% if not subdomain.deleted %}
                <div class="tab-pane active">
                    <h3>{{ subdomain.name | upper }}</h3>
                    {{ subdomain.description | raw }}
                    {% if app.user %}
                        {% if isValid or isUserException %}
                            {% set subdomainEmptyDocuments = TRUE %}
                            {% for document in subdomain.documents %}
                                {% if not document.deleted or not document.media.deleted %}
                                    {% set subdomainEmptyDocuments = FALSE %}
                                {% endif %}
                            {% endfor %}
                            {% set subdomainEmptyVideos = TRUE %}
                            {% for video in subdomain.videos %}
                                {% if not video.deleted or not video.media.deleted %}
                                    {% set subdomainEmptyVideos = FALSE %}
                                {% endif %}
                            {% endfor %}
                            {% set subdomainEmptyFormulars = TRUE %}
                            {% for formular in subdomain.formulars %}
                                {% if not formular.deleted %}
                                    {% set subdomainEmptyFormulars = FALSE %}
                                {% endif %}
                            {% endfor %}

                            {% if not subdomainEmptyDocuments %}
                                <h4>{{ 'domain.documents' | trans }}</h4>
                                <ul>
                                    {% for document in subdomain.documents %}
                                        {% if (not document.deleted) and (not document.media.deleted) %}
                                            <div class="row new-evaluation">
                                                {% if validDocuments[document.id] is defined or isUserException %}
                                                    <a href="{{ path('sonata_media_download', {'id': document.media|sonata_urlsafeid }) }}">
                                                        <div class="col-xs-2">
                                                            <div class="credit-icon">
                                                                <div class="credit-icon-value color-green">
                                                                    {{ 0 }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h4>{{ document.name }}</h4>
                                                        </div>        
                                                    </a>
                                                    {% if not isUserException %}
                                                        <p class="document-info" >{{ "domain.document.available-until"|trans({ '%date%' : validDocuments[document.id]| localizeddate('medium', 'short', app.request.locale ) })  }}</p>            
                                                    {% endif %}
                                                {% else %}
                                                    <a id="downloadLink{{ document.id }}" href ="javascript:;" onclick="javascript:DocumentConfirmPopup('{{ 'modal.document-confirm.body'|trans({'%title%': document.name, '%credits%': document.creditValue, '%plural%' : (document.creditValue == 1) ? 'modal.document-confirm.credit'|trans : 'modal.document-confirm.credits'|trans }) }}', '{{ path('unlock_document') }}', {{ document.id }}, '{{ path('sonata_media_download', {'id': document.media|sonata_urlsafeid }) }}');">
                                                        <div class="col-xs-2">
                                                            <div class="credit-icon">
                                                                <div id="documentIcon{{ document.id }}" class="credit-icon-value color-{{ (document.creditValue > 0) ? "red" : "green" }}">
                                                                    {{ document.creditValue }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h4>{{ document.name }}</h4>
                                                        </div> 
                                                    </a>
                                                    <p class="document-info" id="errorOrSuccess{{document.id}}" hidden="hidden"></p>            
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </ul>                                                                        
                            {% endif %}

                            {% if not subdomainEmptyVideos %}
                                <h4>{{ 'domain.videos' | trans }}</h4>
                                <ul>
                                    {% for video in subdomain.videos %}
                                        {% if (not video.deleted) and (not video.media.deleted) %}
                                            <div class="row new-evaluation">
                                                {% if validVideos[video.id] is defined or isUserException %}
                                                    <a href="javascript:;" onclick="showVideoModal{{ video.media.id }}();">
                                                        <div class="col-xs-2">
                                                            <div class="credit-icon">
                                                                <div class="credit-icon-value color-green">
                                                                    {{ 0 }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h4>{{ video.name }}</h4>
                                                        </div>        
                                                    </a>
                                                    {% if not isUserException %}
                                                        <p class="document-info" >{{ "domain.video.available-until"|trans({ '%date%' : validVideos[video.id]| localizeddate('medium', 'short', app.request.locale ) })  }}</p>            
                                                    {% endif %}
                                                    <div class="modal fade bs-modal-sm m-video" id="showVideoModal{{ video.media.id }}" tabindex="-1" role="dialog">
                                                        <div class="modal-dialog  modal-sm" role="video">
                                                            <div class="modal-content">
                                                                <div class="modal-body flowplayer" data-embed="false">
                                                                    <video width="480" height="320">
                                                                        <source src='{% path video.media, 'reference' %}' type='video/mp4' />
                                                                        <object id="flowplayer" data="{{ asset('assets/flowplayer/flowplayer.swf') }}" type="application/x-shockwave-flash" width="480" height="320" >
                                                                            <param name="movie" value="{{ asset('assets/flowplayer/flowplayer.swf') }}">
                                                                            <param name="allowfullscreen" value="true">
                                                                            <param name="flashvars" value="config={'clip':{'url':'{% path video.media, 'reference' %}','autoPlay':false}}">
                                                                        </object> 

                                                                    </video>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>       
                                                    <script type="text/javascript">
                                                        function showVideoModal{{ video.media.id }}()
                                                        {
                                                            $('#showVideoModal{{ video.media.id }}').modal();
                                                        }
                                                    </script>
                                                {% else %}
                                                    <a id="showLink{{ video.id }}" href ="javascript:;" onclick="javascript:VideoConfirmPopup('{{ 'modal.video-confirm.body'|trans({'%title%': video.name, '%credits%': video.creditValue, '%plural%' : (video.creditValue == 1) ? 'modal.video-confirm.credit'|trans : 'modal.video-confirm.credits'|trans }) }}', '{{ path('unlock_video') }}', '{{ video.id }}', '{% path video.media, 'reference' %}', '{{ asset('assets/flowplayer/flowplayer.swf') }}' );">
                                                        <div class="col-xs-2">
                                                            <div class="credit-icon">
                                                                <div id="documentIcon{{ video.id }}" class="credit-icon-value color-{{ (video.creditValue > 0) ? "red" : "green" }}">
                                                                    {{ video.creditValue }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h4>{{ video.name }}</h4>
                                                        </div> 
                                                    </a>
                                                    <script type="text/javascript">
                                                        function showVideoModal{{ video.id }}()
                                                        {
                                                            $('#showVideoModal{{ video.id }}').modal();
                                                        }
                                                    </script>
                                                    <p class="document-info" id="errorOrSuccessVideo{{video.id}}" hidden="hidden"></p>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </ul>                                                                        
                            {% endif %}

                            {% if not subdomainEmptyFormulars %}
                                <h4>{{ 'domain.formulars' | trans }}</h4>
                                <ul>
                                    {% for formular in subdomain.formulars %}
                                        {% if not formular.deleted %}
                                            <div class="row new-evaluation">
                                                <div class="col-xs-2">
                                                    <div class="credit-icon">
                                                        <div class="credit-icon-value color-{{ isUserException ? "green" : ((formular.creditValue > 0) ? "red" : "green") }}">
                                                            {{ isUserException ? 0 : formular.creditValue }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-10">
                                                    <a id="{{ formular.slug }}" class="show-form-config">
                                                        <h4>{{ formular.name }}</h4>
                                                    </a>
                                                </div>
                                                {{ render(controller('AppBundle:Formular:configFormularUniqueness', {'slug': formular.slug, 'request' : app.request })) }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </ul>                                                                        
                            {% endif %}

                        {% else %}
                            <br/>
                            <br/>
                            <div class="panel">
                                <div class="panel-body">
                                    <p>
                                        {{ 'domain.go-to-subscription'|trans }} <a href="{{ path('subscriptions')}}">{{ 'domain.subscriptions'|trans }}</a>
                                        {{ 'domain.go-to-contact'|trans }} <a href="{{ path('contact')}}">{{ 'domain.contact'|trans }}</a><br />
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% elseif not app.user %}
                        <br/>
                        <br/>
                        <div class="panel">
                            <div class="panel-body">
                                <p>
                                    {{ 'domain.not-logged-in'|trans }}<br />
                                    {{ 'please-login'|trans }}<br />
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}