{% block sonata_admin_image_file_widget %}
  {% spaceless %}
    {% set subject =  form.parent.vars.value %}
    {% set imagePath = vich_uploader_asset(subject, 'uploadImage') %}
    {% if subject.id and imagePath %}
        <a href="{{ asset(imagePath) }}" target="_blank">
            <img src="{{ asset(imagePath) }}" width="300" />
        </a><br/>
    {% endif %}
    {% set type = type|default('file') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock %}