{% extends "base.html.twig" %}

{% block ccontainer %}
    <div class="col-xs-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs clearfix" role="tablist">
            {% for subdomain in domain.subdomains %}
                <li><a href="#ssm{{ loop.index0 }}" role="tab" data-toggle="tab">{{ subdomain.name | upper }}</a><span></span></li>
                    {% endfor %}
        </ul>
    </div>
    <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="ssm">
                <h3>{{ 'domain.in-the-section'|trans({'%domain%': domain.name}) }}</h3>
                {{ domain.description | raw }}
            </div>
            {% for subdomain in domain.subdomains %}
                <div class="tab-pane" id="ssm{{ loop.index0 }}">
                    <h3>{{ subdomain.name | upper }}</h3>
                    {{ subdomain.description | raw }}
                    <h4>{{ 'domain.documents' | trans }}</h4>
                    <ul>
                        {% for document in subdomain.documents %}
                            <li><a href="{{ path('sonata_media_download', {'id': document|sonata_urlsafeid }) }}">{{ document.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

