<body>
    <p>
        {{ 'mail.name'|trans({'%name%': name}) }}
    </p>
    <p>
        {{ 'mail.activate-account.message'|trans }}<a href="{{ url('activate_account',{'token': token}) }}">{{ 'mail.activate-account.activate'|trans }}</a>
    </p>
    <p>
        {{ 'mail.thank-you'|trans }}
    </p>
    <p>
        {{ 'mail.team'|trans }}
    </p>
</body>