{% extends "base.html.twig" %}

{% block ccontainer %}
    {{ render(controller('AppBundle:Default:subscriptionsNav')) }}
    <div class="col-xs-9">
        <h1 class="title-top">
            <i class="fa"></i>
            {{ 'change-password.title'|trans }}
        </h1>

        {{ form_start(form, { 'attr': {'id': 'changePassForm'} }) }}
        {% form_theme form 'user/form/error_template.html.twig' %}
        <fieldset>
            <div class="row register">

                {#          parola veche#}
                <div class="editor-label">
                    {{ form_label(form.oldPassword, 'form.label.old-password'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.oldPassword, {'attr':
                { 'data-val': 'true',
                  'data-val-required': 'form.required.old-password'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.oldPassword.vars.full_name }}" data-valmsg-replace="true" ></span>
                    {% for flash_message in app.session.flashbag.get('change-password-error') %}
                        <h5 class="color-red text-left" >{{ flash_message|trans }}</h5>
                    {% endfor %}
                    {{ form_errors(form.oldPassword) }}
                </div>

                {#          parola#}
                <div class="editor-label">
                    {{ form_label(form.password.first, 'form.label.password'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.password.first, {'attr':
                { 'data-val': 'true',
                  'data-val-length': 'form.password.length'|trans,
                  'data-val-length-min': '6',
                  'data-val-required': 'form.required.password'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.password.first.vars.full_name }}" data-valmsg-replace="true" ></span>
                    {{ form_errors(form.password.first) }}
                </div>
                {#          confirmare parola#}
                <div class="editor-label">
                    {{ form_label(form.password.second, 'form.label.password-confirm'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.password.second, {'attr':
                { 'data-val': 'true',
                  'data-val-equalto': 'form.password.same'|trans,
                  'data-val-equalto-other': '*.resetPassword[password][first]',
                  'data-val-required': 'form.required.password-confirm'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.password.second.vars.full_name }}" data-valmsg-replace="true" ></span>
                    {{ form_errors(form.password.second) }}
                    {{ form_row(form.save, { 'label': 'change-info.save'|trans, 'attr': { 'class' : 'pull-right costum' } })}}
                </div>
            </div>

        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}


