<body>
<p>
    {{ 'mail.name'|trans({'%name%': name}) }}
</p>
<p>
    {{ 'mail.create-admin-account.message'|trans }}
</p>
<p>
    {{ 'mail.create-admin-account.username'|trans({'%username%': username}) }}
</p>
<p>
    {{ 'mail.create-admin-account.password'|trans({'%password%': password}) }}
</p>
<p>
    {{ 'mail.team'|trans }}
</p>
</body>