{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block ccontainer %}
    <h1 class="title-top">
        <i class="fa fa-graduation-cap"></i>
        {{ 'register.title-demo'|trans }}
    </h1>

    <form method="post" onsubmit="return false">
        <fieldset>
            <div class="row register">
                <div class="col-xs-6">
                    <div class="editor-label">
                        <label for="FreeManagerName">{{ 'form.label.name'|trans }}</label>
                    </div>
                    <div class="editor-field">
                        <input data-val="true" data-val-required="{{ 'form.required.name'|trans }}" id="FreeManagerName" name="ManagerName" type="text" value="" />
                        <span id="FreeManagerNameValid" class="field-validation-error" data-valmsg-for="ManagerName" data-valmsg-replace="true" hidden="hidden">{{ 'form.required.name'|trans }}</span>
                    </div>

                    {#<p id="FreeUserNameDuplicateEmail" class="color-red text-center" hidden="hidden"></p>#}
                    {#<div class="editor-field">#}
                        {#<input data-val="true" data-val-required="{{ 'form.required.name'|trans }}" id="FreeManagerName" name="ManagerName" placeholder="{{ 'form.label.name'|trans }}" type="text" value="" />#}
                        {#<p id="FreeManagerNameValid" class="color-red text-center" hidden="hidden">{{ 'form.required.name'|trans }}</p>#}
                    {#</div>#}
                    {#<div class="editor-field">#}
                        {#<input id="FreeUserName" name="UserName" placeholder="{{ 'form.label.email'|trans }}" type="text" value="" />#}
                        {#<p id="FreeUserNameValid" class="color-red text-center" hidden="hidden">{{ 'form.required.email'|trans }}</p>#}
                        {#<p id="FreeUserNameValidEmail" class="color-red text-center" hidden="hidden">{{ 'form.valid.email'|trans }}</p>#}
                    {#</div>       #}

                    {#<div class="editor-label clearfix">#}
                        {#<input class="pull-left" type="checkbox" name="selected" id="freecheck" onclick="goFreeAccount()" />#}
                        {#<a href="{{ path('terms') }}" id="acceptTerms"  onclick="return popitup('{{ path('terms') }}');">{{ 'form.label.terms'|trans }}</a>#}
                    {#</div>#}
                    {#<p id="FreeAccountText" class="color-red text-center" hidden="hidden">#}
                        {#{{ 'form.required.terms-of-use'|trans }}#}
                    {#</p>#}
                    {#<p class="login-form">#}
                        {#<input type="submit" value="{{ 'login.button.register'|trans }}" id="btnFreeAccount" class="costum" onclick="SubmitFreeAccount('{{ path('ajax_create_demo_account')}}');" />#}
                    {#</p>#}
                </div>
                <div class="col-xs-6">
                    <div class="editor-label">
                        <label for="FreeManagerName">{{ 'form.label.email'|trans }}</label>
                    </div>
                    <div class="editor-field">
                        <input data-val="true" data-val-required="{{ 'form.required.name'|trans }}" id="FreeUserName" name="UserName" type="text" value="" />
                        <span id="FreeUserNameValid" class="field-validation-error" data-valmsg-for="FreeUserName" data-valmsg-replace="true" hidden="hidden">{{ 'form.required.email'|trans }}</span>
                        <span id="FreeUserNameValidEmail" class="field-validation-error" data-valmsg-for="FreeUserName" data-valmsg-replace="true" hidden="hidden">{{ 'form.valid.email'|trans }}</span>
                    </div>

                    <div class="editor-label clearfix">
                        <input class="pull-left" type="checkbox" name="selected" id="freecheck" onclick="goFreeAccount()" />
                        <a href="{{ path('terms') }}" id="acceptTerms"  onclick="return popitup('{{ path('terms') }}');">{{ 'form.label.terms'|trans }}</a>
                    </div>

                    <p id="FreeAccountText" class="color-red" style="display: block;" hidden="hidden">
                        Inregistrarea este posibila dupa acceptarea termenilor de utilizare!
                    </p>

                </div>
            </div>
        </fieldset>
        <div class=" craue_formflow_buttons craue_formflow_button_count_2">
            <button type="submit" class="" onclick="SubmitFreeAccount('{{ path('ajax_create_demo_account')}}');">Urmatorul</button>
        </div>

            <div id="FreeAccountExist" hidden="hidden">
                <p>&nbsp;&nbsp; Crearea contului gratuit s-a realizat. Veti primi pe adresa de mail introdusa, datele de contact pentru logare. </p>
                <p><a href="{{ path("homepage") }}">Inchide creare cont gratuit.</a></p>
            </div>

    </form>
{% endblock %}
