{% extends "base.html.twig" %}

{% block ccontainer %}
    <h1 class="title-top">
        <i class="fa fa-graduation-cap"></i>
        {{ 'register.title'|trans }}
    </h1>
    {% for flash_message in app.session.flashbag.get('error-register') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    {{ form_start(form, { 'attr': {'id': 'RegisterForm'} }) }}
    <fieldset>
        <legend>Account Information</legend>
        <input id="Logo" name="Logo" type="hidden" value="" />
        <input id="EmployeesNr" name="EmployeesNr" type="hidden" value="" />

        <div class="row register">
            <div class="col-xs-4">
                {#          name#}
                <div class="editor-label" id="lblManager">
                    {{ form_label(form.name, 'form.label.name'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.name, {'attr':
                { 'data-val': 'true',
                  'data-val-required': 'form.required.name'|trans
                } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.name.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
                {#          function#}
                <div>
                    {{ form_label(form.function, 'form.label.job'|trans) }}
                    {{ form_widget(form.function, {'attr':
                { 'data-val': 'true',
                  'data-val-number': 'form.valid.number.job'|trans,
                  'data-val-required': 'form.required.job'|trans,
                  'onchange': 'ShowHideItems()'
              } })
                    }}
                </div>
                {#          email#}
                <div class="editor-label">
                    {{ form_label(form.email, 'form.label.email'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.email, {'attr':
                { 'data-val': 'true',
                  'data-val-regex': 'form.required.email'|trans,
                  'data-val-regex-pattern': '.+\@.+\..+',
                  'data-val-required': 'form.valid.email'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.email.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
                {#          parola#}
                <div class="editor-label">
                    {{ form_label(form.password.first, 'form.label.password'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.password.first, {'attr':
                { 'data-val': 'true',
                  'data-val-length': 'form.password.length'|trans,
                  'data-val-length-min': '6',
                  'data-val-required': 'form.required.password'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.password.first.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
                {#          confirmare parola#}
                <div class="editor-label">
                    {{ form_label(form.password.second, 'form.label.password-confirm'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.password.second, {'attr':
                { 'data-val': 'true',
                  'data-val-equalto': 'form.password.same'|trans,
                  'data-val-equalto-other': '*.register[password][first]',
                  'data-val-required': 'form.required.password-confirm'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.password.second.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
            </div>

            <div class="col-xs-4">
                {#          companie#}
                <div class="editor-label">
                    {{ form_label(form.company, 'form.label.company'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.company, {'attr':
              { 'data-val': 'true',
                'data-val-required': 'form.required.company'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.company.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
                {#          cui#}
                <div class="editor-label">
                    {{ form_label(form.cui, 'form.label.company-id'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.cui, {'attr':
              { 'data-val': 'true',
                'data-val-required': 'form.required.company-id'|trans,
                'placeholder': 'form.placeholder.company-id'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.cui.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                    <p class="color-red" id ="ValidCui" hidden="hidden"> {{ 'form.valid.company-id'|trans }} </p>
                </div>
                {#          numar inregistrare orc#}
                <div class="editor-label">
                    {{ form_label(form.noRegistrationORC, 'form.label.company-number'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.noRegistrationORC, {'attr':
              { 'data-val': 'true',
                'data-val-required': 'form.required.company-number'|trans,
                'placeholder': 'form.placeholder.company-number'
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.noRegistrationORC.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
                {#          numar de angajati#}
                <div>
                    {{ form_label(form.noEmployees, 'form.label.employees'|trans, {'label_attr': {'id': 'lblEmployeesNr'} }) }}
                    {{ form_widget(form.noEmployees, {'attr':
              { 'data-val': 'true',
                'data-val-number': 'form.valid.number.employees'|trans,
                'onchange': 'EmployeesNrChanged()',
                'class': 'form-control shortdropdown'
              } })
                    }}
                </div>
                {#          numar certificat de abilitare#}
                <div class="editor-label" id="lblCertificateNumber">
                    {{ form_label(form.noCertifiedEmpowerment, 'form.label.certificate'|trans) }}
                </div>
                <div class="editor-field" id="tbCertificateNumber">
                    {{ form_widget(form.noCertifiedEmpowerment) }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.noCertifiedEmpowerment.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
                {#          iban#}
                <div class="editor-label">
                    {{ form_label(form.iban, 'form.label.bank-acount'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.iban, {'attr':
              { 'data-val': 'true',
                'data-val-required': 'form.required.bank-acount'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.iban.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                    <p class="color-red" id ="ValidIban" hidden="hidden"> {{ 'form.valid.bank-acount'|trans }} </p>
                </div>
                <br /><br />
            </div>

            <div class="col-xs-4">
                {#          banca#}
                <div class="editor-label">
                    {{ form_label(form.bank, 'form.label.bank'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.bank, {'attr':
              { 'data-val': 'true',
                'data-val-required': 'form.required.bank'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.bank.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
                {#          telefon#}
                <div class="editor-label">
                    {{ form_label(form.phone, 'form.label.phone'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.phone, {'attr':
              { 'data-val': 'true',
                'data-val-regex': 'form.valid.phone'|trans,
                'data-val-regex-pattern': '^(07|)\\d{8}$',
                'data-val-required': 'form.required.phone'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.phone.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
                {#          judet#}
                <div>
                    {{ form_label(form.county, 'form.label.county'|trans) }}
                    {{ form_widget(form.county, {'attr':
              { 'data-val': 'true',
                'data-val-number': 'form.valid.number.county'|trans,
                'data-val-required': 'form.required.county'|trans,
                'class': 'form-control shortdropdown',
                'onChange': 'getLocalities(null)'
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.county.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
                {#          localitati#}
                <div id="LocalitiesDiv">
                    <div class="editor-label">
                        {{ form_label(form.city, 'form.label.city'|trans) }}
                    </div>
                    <div class="editor-field">
                        {{ form_widget(form.city, {'attr':
                { 'data-val': 'true',
                  'data-val-required': 'form.required.city'|trans,
                  'data-val-number': 'form.valid.number.city'|trans,
                  'class': 'form-control shortdropdown'
                } })
                        }}
                        <span class="field-validation-valid" data-valmsg-for="{{ form.city.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                    </div>
                </div>
                {#          adresa#}
                <div class="editor-label">
                    {{ form_label(form.address, 'form.label.address'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.address, {'attr':
              { 'data-val': 'true',
                'data-val-required': 'form.required.address'|trans
              } })
                    }}
                    <span class="field-validation-valid" data-valmsg-for="{{ form.address.vars.full_name }}" data-valmsg-replace="true" style="font-weight: normal;"></span>
                </div>
                {#          logo#}
                <div class="editor-label">
                    {{ form_label(form.uploadImage, 'form.label.logo'|trans) }}
                </div>
                <div class="editor-field">
                    {{ form_widget(form.uploadImage, {'attr':
              { 'style': '260px' } })
                    }}
                </div>
                <br /><br />
                {#          termeni si conditii#}
                <div class="editor-label clearfix" >
                    <input class="pull-left" type="checkbox" name="selected" id="check" onclick="goRegister()"/>
                    <a href="{{ path('terms') }}" id="acceptTerms" class="btn" onclick="return popitup('{{ path('terms') }}')">{{ 'form.label.terms-of-use'|trans }}</a>
                </div>
                <p id="RegisterText" class="color-red" hidden="hidden">
                    {{ 'form.required.terms-of-use'|trans }}
                </p>
                <p class="register-form2">
                    <input type="button" value="Inregistrare" id="btnRegister" class="costum" onclick="SubmitRegister()" />
                </p>
            </div>

        </div>
    </fieldset>
    {{ form_end(form) }}

    <script type="text/javascript">
        var ajax_localities = '{{ path('ajax_localities') }}';
    </script>
{% endblock %}


