<body>
    <p>
        {{ 'mail.name'|trans({'%name%': name}) }}
    </p>
    <p>
        {{ 'mail.reset-password.message'|trans }}<a href="{{ url('reset_password',{'token': token}) }}">{{ 'mail.reset-password.reset'|trans }}</a>
    </p>
    <p>
        {{ 'mail.thank-you'|trans }}
    </p>
    <p>
        {{ 'mail.team'|trans }}
    </p>
</body>