<head>
    <link href="{{ absolute_url(asset('assets/css/PdfGeneratedDocuments.css')) }}" rel="stylesheet" type="text/css" />
    <link href="{{ absolute_url(asset('assets/css/Bootstrap-3.2.0/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
</head>
<body>
    <div class="row page font-size-18">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <p>{{ data.company }}</p>
            <div class="height-40-px"></div>
            <p class="text-right"><b>{{ 'Nr.' | trans }}</b> .............. / ..................................</p>
            <div class="height-40-px"></div>
            <h3 class="text-center"><b>{{ 'DECIZIE privind componenta CSSM' | trans}}</b></h3>
            <div class="height-20-px"></div>
            <p><span class="text-indent"></span>{{ 'Avand in vedere prevederile legii 319/2006 privind securitatea si sanatatea in munca si ale HG 1425/2006 Normele metodologice de aplicare a Legii 319/2006, cu modificarile ulterioare,' | trans }} {{ 'Dl/Dna ' | trans }} {{ data.administrator }} {{ ' in calitate de administrator la ' | trans }} {{ data.company }}, {{ 'decide:' | trans }}</p>
            <div class="height-20-px"></div>
            <div class="section-group">
                <table class="list-bold">
                    <tr>
                        <td><p>{{ '<b>1.&nbsp;</b>' | trans | raw }}</p></td>
                        <td><p>{{ 'Componenta CSSM constituita la ' | trans }} {{ data.company }} {{ ' este urmatoarea:' | trans }}</p></td>
                    </tr>
                </table>
                <p>{{ '- &nbsp; Reprezentantii din partea angajatorului sunt urmatorii: ' | trans | raw }}</p>
                <ul>
                    <li>{{ 'Dl/Dna ' | trans }} {{ data.president }} {{ ' - angajator - presedinte CSSM (sau reprezentant legal)' | trans }}</li>
                    <li>{{ 'Dl/Dna ' | trans }} {{ data.secretary }} {{ ' - lucrator desemnat - secretar CSSM' | trans }}</li>
                </ul>
                <p>{{ '- &nbsp; Conform hotararii angajatilor, reprezentantii lucratorilor sunt urmatorii: ' | trans | raw }}</p>
                <ul>
                    {% for item in data.members %}
                        {% if item.name %}
                            <li>{{ 'Dl/Dna ' | trans }} {{ item.name }} {{ ' - reprezentant al lucratorilor - membru' | trans }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p>{{ '- &nbsp; Medic de Medicina Muncii ' | trans | raw }}</p>
                <ul>
                    <li>{{ 'Dl/Dna ' | trans }} {{ data.doctor }}</li>
                </ul>
                <table class="list-bold">
                    <tr>
                        <td><p>{{ '<b>2.&nbsp;</b>' | trans | raw }}</p></td>
                        <td><p>{{ 'Prezenta decizie va fi adusa la cunostiinta tuturor lucratorilor.' | trans }}</p></td>
                    </tr>
                </table>
                <table class="list-bold">
                    <tr>
                        <td><p>{{ '<b>3.&nbsp;</b>' | trans | raw }}</p></td>
                        <td><p>{{ 'Se va avea in vedere inscrierea persoanelor de mai sus la cursurile de SSM (de 80 de ore - lucratorul desemnat, respectiv 40 de ore - reprezentantii lucratorilor), conform cerintelor HG 1425/2006 Normele metologice de aplicare a Legii 319/2006, cu modificarile ulterioare.' | trans }}</p></td>
                    </tr>
                </table>
            </div>
            <div class="height-60-px"></div>
            <p>{{ data.company }}</p>
            <p>{{ 'Administrator' | trans }}</p>
            <div class="height-60-px"></div>
            <div class="col-xs-6 no-margin-left">
                <p>{{ 'Am luat la cunostinta,' | trans }}</p>
                <div class="height-20-px"></div>
                <p>{{ 'Dl/Dna ' | trans }} {{ data.president }}</p>
                <p>{{ 'Dl/Dna ' | trans }} {{ data.secretary }}</p>
                {% for item in data.members %}
                    {% if item.name %}
                        <p>{{ 'Dl/Dna ' | trans }} {{ item.name }}</p>
                    {% endif %}
                {% endfor %}
                <p>{{ 'Dl/Dna ' | trans }} {{ data.doctor }}</p>
            </div>
            <div class="col-xs-6 no-margin-right">
                <p><span class="text-indent"></span>{{ 'Semnatura' | trans }}</p>
                <div class="height-20-px"></div>
                <div class="col-xs-4"></div>
                <div class="col-xs-8">
                    <p>..............................................</p>
                    <p>..............................................</p>
                    {% for item in data.members %}
                        {% if item.name %}
                            <p>..............................................</p>
                        {% endif %}
                    {% endfor %}
                    <p>..............................................</p>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</body>
