<body>
    <p>
        {{ 'mail.contact.confirm-name'|trans({"%name%" : name}) }}
    </p>
    <p>
        {{ 'mail.contact.confirm-sent-subject'|trans({'%subject%': subject}) }}
    </p>
    <p>
        {{ message }}
    </p>
    <p>
        {{ 'mail.contact.confirmation'|trans }}
    </p>
    <p>
        {{ 'mail.contact.confirm-thank-you'|trans }}
    </p>
</body>