<body>
    <p>
        {{ 'mail.contact.name'|trans({'%name%': name}) }}
    </p>
    <p>
        {{ 'mail.contact.email'|trans({'%email%': email}) }}
    </p>
    <p>
        {{ 'mail.contact.phone'|trans({'%phone%': phone}) }}
    </p>
    <p>
        {{ 'mail.contact.message'|trans }}
    </p>
    <p>
    {{ message }}
    </p>
</body>