{% set counter = 0 %}
{% for subscription in subscriptions %}
    <div class="tab-pane" id="ssm{{ loop.index }}">
        <div id="{{ subscription.name | upper }}">
            <form action="{{ path("add_subscription") }}" id="ssm{{ loop.index }}form" method="post">
                <div class="row">
                    <div class="col-xs-9">
                        <h3 class="title">{{ subscription.name }}</h3>
                        <p class="color-red text-center" id="ssm{{ loop.index }}error" hidden="hidden"></p>
                        <input type="hidden" value="{{ subscription.id }}" name="subscriptionId"/>
                    </div>
                    <div class="col-xs-3">
                        {% if app.user %}
                            <input id="ssm{{ loop.index }}button" class="costum pull-right" type="button" value="{{ 'subscription.add-to-order'|trans }}" />
                        {% endif %}
                    </div>
                </div>
                <p>{{ subscription.intro | raw }}</p>
                <div class="selecting-checkbox" id="{{ subscription.name | lower | replace({' ':'_'}) }}">
                    {% if subscription.domains | length > 1 %}
                        {% for domain in subscription.domains %}
                            {% set checked = ((subscription.domainAmount == subscription.domains | length) and subscription.domainAmount != 1) ? "checked='checked'" : "" %}
                            {% set disabled = ((subscription.domainAmount == subscription.domains | length) and subscription.domainAmount != 1) ? "disabled" : "" %}
                            <p>
                                <input {{ checked }} {{ disabled }} type="checkbox" class="css-checkbox" id="checkbox{{ counter }}" name="domains[{{domain.id}}]" /><label class="css-label" for="checkbox{{ counter }}"></label>{{ domain.name }} - {{ domain.baseline }}
                                <span class="pop"><i class="fa fa-exclamation-triangle yellow"></i> {{ 'subscription.choose-one-type'|trans }}</span>
                            </p>
                            {% set counter = counter + 1 %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row price">
                    <div class="col-xs-4">
                        <p class="last">{{ 'subscription.price'|trans }}<span class="color-blue">{{ subscription.price }}</span>{{ 'curency'|trans }}</p>
                    </div>
                    <div class="col-xs-4">
                        <p class="last">{{ 'subscription.number-of-credits'|trans }}<span class="color-blue">{{ subscription.credit }}</span></p>
                    </div>
                    <div class="col-xs-4">
                        <p class="last">{{ 'subscription.valability'|trans }}<span class="color-blue">{{ subscription.valability }}</span>
                            {% transchoice subscription.valability with {'%year%': 'subscription.year'|trans, '%years%': 'subscription.years'|trans } %}
                            {1} %year% |]1,Inf[ %years%
                            {% endtranschoice %}
                        </p>
                    </div>
                </div>
                {{ subscription.description | raw }}
                {% if not app.user %}
                    <div class="panel">
                        <div class="panel-body">
                            <p>
                                {{ 'subscription.not-logged-in'|trans }}<br />
                                {{ 'please-login'|trans }}<br />
                            </p>
                        </div>
                    </div>
                {% endif%}
            </form>
        </div>
    </div>
    {% if not ((subscription.domainAmount == 1) and (subscription.domains | length == 1)) %}
        <script type="text/javascript">
            $(document).ready(function () {
                var id = '{{ subscription.name | lower | replace({' ':'_'}) }}';
                $("#" + id + " input").change(function () {
                    var cb = $(this);
                            isCheckedx(cb, id, {{ subscription.domainAmount }});
                });
                $("#" + "ssm" +    {{ loop.index }} +"button").click(function () {
                    if (!areAllChecked(id, {{ subscription.domainAmount }})){
                    {% if subscription.domainAmount == 1 %}
                    $("#" + "ssm" + "{{ loop.index }}" + "error").text('{{ "order.error.select-one"|trans }}');
                    {% else %}
                    $("#" + "ssm" + "{{ loop.index }}" + "error").text('{{ "order.error.select-all"|trans({'%maxNumber%' : subscription.domainAmount}) }}');
                    {% endif %}
                    $("#" + "ssm" + "{{ loop.index }}" + "error").show();
                }
                if (areAllChecked(id, {{ subscription.domainAmount }})) {
                    $('#subscriptionAddConfirmModal').modal();
                    $('#subscriptionAddConfirmModalId').val("#" + "ssm" + "{{ loop.index }}" + "form");
                }
                });
            });
        </script>
    {% endif %}
    {% if ((subscription.domainAmount == 1) and (subscription.domains | length == 1)) %}
        <script type="text/javascript">
            $(document).ready(function () {
                $("#" + "ssm" +    {{ loop.index }} +"button").click(function () {
                    $('#subscriptionAddConfirmModal').modal();
                    $('#subscriptionAddConfirmModalId').val("#" + "ssm" + "{{ loop.index }}" + "form");
                });
            });
        </script>
    {% endif %}
{% endfor %}
