{% set counter = 0 %}
{% for subscription in subscriptions %}
    <div class="tab-pane" id="ssm{{ loop.index }}">
        <div id="{{ subscription.name | upper }}">
            <form action="{{ path("add_subscription") }}" id="ssm{{ loop.index }}form" method="post">
                <div class="row">
                    <div class="col-xs-9">
                        <h3 class="title">{{ subscription.name }}</h3>
                        <p class="color-red text-center" id="ssm{{ loop.index }}error" hidden="hidden"></p>
                        <input type="hidden" value="{{ subscription.id }}" name="subscriptionId"/>
                    </div>
                    <div class="col-xs-3">
                        {% if app.user and not isUserException and not app.user.profile.demoAccount %}
                            <input id="ssm{{ loop.index }}button" class="costum pull-right" type="button" value="{{ 'subscription.add-to-order'|trans }}" />
                        {% endif %}
                    </div>
                </div>
                <p>{{ subscription.intro | raw }}</p>
                <div class="selecting-checkbox" id="{{ subscription.name | lower | replace({' ':'_'}) }}">
                    {% if domains is not empty %}
                        {% for domain in domains %}
                            {% if not domain.deleted %}
                                <p>
                                    <input checked="checked" disabled="disabled" type="checkbox" class="css-checkbox" id="checkbox{{ counter }}" name="domains[{{domain.id}}]" /><label class="css-label" for="checkbox{{ counter }}"></label>{{ domain.name }} - {{ domain.baseline }}
                                    <span class="pop"><i class="fa fa-exclamation-triangle yellow"></i> {{ 'subscription.choose-one-type'|trans }}</span>
                                </p>
                                {% set counter = counter + 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row price">
                    <div class="col-xs-4">
                        <p class="last">{{ 'subscription.price'|trans }}<span class="color-blue">{{ subscription.price }}</span>{{ 'currency'|trans }}</p>
                    </div>
                    <div class="col-xs-4">
                        <p class="last">{{ 'subscription.number-of-credits'|trans }}<span class="color-blue">{{ subscription.credit }}</span></p>
                    </div>
                    <div class="col-xs-4">
                        <p class="last">{{ 'subscription.valability'|trans }}<span class="color-blue">{{ subscription.valability }}</span>
                            {% transchoice subscription.valability with {'%year%': 'year'|trans, '%years%': 'years'|trans } %}
                            {1} %year% |]1,Inf[ %years%
                            {% endtranschoice %}
                        </p>
                    </div>
                </div>
                {{ subscription.description | raw }}
                {% if not isRegister %}
                    {% if not app.user %}
                        <div class="panel">
                            <div class="panel-body">
                                <p>
                                    {{ 'subscription.not-logged-in'|trans }}<br />
                                    {{ 'please-login'|trans }}<br />
                                </p>
                            </div>
                        </div>
                    {% elseif isUserException %}
                        <div class="panel">
                            <div class="panel-body">
                                <p>
                                    {{ 'subscription.superadmin'|trans }}<br />
                                </p>
                            </div>
                        </div>
                    {% elseif app.user.profile.demoAccount %}
                        <div class="panel">
                            <div class="panel-body">
                                <p>
                                    {{ 'subscription.demo-account'|trans }}<br />
                                </p>
                            </div>
                        </div>
                    {% endif%}
                {% endif %}
            </form>
        </div>
    </div>
        {#{% if not ((subscription.domainAmount == 1) and (validDomainsCount == 1)) %}#}
            {#<script type="text/javascript">#}
                {#$(document).ready(function () {#}
                    {#var id = '{{ subscription.name | lower | replace({' ':'_'}) }}';#}
                    {#$("#" + id + " input").change(function () {#}
                        {#var cb = $(this);#}
                        {#isCheckedx(cb, id, {{ subscription.domainAmount }}, {{ (isRegister) ? 'true' : 'false' }});#}
                    {#});#}
                    {#{% if not isRegister %}#}
                        {#$("#" + "ssm" + "{{ loop.index }}" + "button").click(function () {#}
                            {#if (!areAllChecked(id, {{ subscription.domainAmount }})){#}
                                {#{% if subscription.domainAmount == 1 %}#}
                                    {#$("#" + "ssm" + "{{ loop.index }}" + "error").text('{{ "order.error.select-one"|trans }}');#}
                                {#{% else %}#}
                                    {#$("#" + "ssm" + "{{ loop.index }}" + "error").text('{{ "order.error.select-all"|trans({'%maxNumber%' : subscription.domainAmount}) }}');#}
                                {#{% endif %}#}
                                    {#$("#" + "ssm" + "{{ loop.index }}" + "error").show();#}
                            {#}#}
                            {#if (areAllChecked(id, {{ subscription.domainAmount }})) {#}
                                {#$('#subscriptionAddConfirmModal').modal();#}
                                {#$('#subscriptionAddConfirmModalId').val("#" + "ssm" + "{{ loop.index }}" + "form");#}
                            {#}#}
                        {#});#}
                    {#{% else %}#}
                        {#$(".craue_formflow_button_last").click(function() {#}
                            {#selectedId = $(".tab-pane.active .selecting-checkbox").attr("id");#}
                            {#if (selectedId == id) {                #}
                                {#if (!areAllChecked(id, {{ subscription.domainAmount }})){#}
                                    {#{% if subscription.domainAmount == 1 %}#}
                                        {#$("#" + "ssm" + "{{ loop.index }}" + "error").text('{{ "order.error.select-one"|trans }}');#}
                                    {#{% else %}#}
                                        {#$("#" + "ssm" + "{{ loop.index }}" + "error").text('{{ "order.error.select-all"|trans({'%maxNumber%' : subscription.domainAmount}) }}');#}
                                    {#{% endif %}#}
                                        {#$("#" + "ssm" + "{{ loop.index }}" + "error").show();#}
                                {#}#}
                                {#if (areAllChecked(id, {{ subscription.domainAmount }})) {#}
                                    {#$("#RegisterForm").submit();#}
                                {#}#}
                            {#}#}
                        {#});#}
                    {#{% endif %}#}
                {#});#}
            {#</script>#}
        {#{% endif %}#}
        <script type="text/javascript">
            {% if not isRegister %}
                $(document).ready(function () {
                    $("#" + "ssm" +      {{ loop.index }} +"button").click(function () {
                        $('#subscriptionAddConfirmModal').modal();
                        $('#subscriptionAddConfirmModalId').val("#" + "ssm" + "{{ loop.index }}" + "form");
                    });
                });
            {% else %}
                $(document).ready(function () {
                    $(".craue_formflow_button_last").click(function() {
                        var id = '{{ subscription.name | lower | replace({' ':'_'}) }}';
                        selectedId = $(".tab§-pane.active .selecting-checkbox").attr("id");
                        if (selectedId == id) {
                            $("#RegisterForm").submit();
                        }
                    });
                });
            {% endif %}
        </script>
{% endfor %}
