{% extends "base.html.twig" %}

{% block modal %}
    {% include 'subscription/subscription_add_confirm_modal.html.twig' %} 
{% endblock modal %}

{% block ccontainer %}
    <h1 class="title-top">{{ 'subscription.types'|trans }}</h1>
    <div class="col-xs-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs clearfix" role="tablist">
            {% for subscription in subscriptions %}
                <li><a href="#ssm{{ loop.index }}" id="navssm{{ loop.index }}" class="tab-pane-menu" role="tab" data-toggle="tab">{{ subscription.name | upper }}</a><span></span></li>
                    {% endfor %}
        </ul>
    </div>
    <div class="col-xs-9">
        <div class="tab-content">
            {% for flash_message in app.session.flashbag.get('order-error') %}
                <h5 class="color-red text-center first" >{{ flash_message|trans }}</h5>
            {% endfor %}
            {% include 'subscription/all_subscriptions.html.twig' with {'subscriptions' : subscriptions } %}
            <script type="text/javascript">
                jQuery(window).load(function () {
                    jQuery(".tab-pane-menu").first().parent().addClass("active");
                    jQuery(".tab-pane").first().addClass("active");
                    if (window.location.hash) {
                        extension = window.location.hash.replace('#', '');
                        jQuery(".tab-pane-menu").first().parent().removeClass("active");
                        jQuery(".tab-pane").first().removeClass("active");
                        jQuery('#nav' + extension + ".tab-pane-menu").parent().addClass("active");
                        jQuery('#' + extension + ".tab-pane").addClass("active");
                    }
                });
            </script>
        </div>
    </div>
{% endblock %}

