<div class="col-xs-2"></div>
<div class="col-xs-10">
    <h5 class="first bold-row" >{{ 'document-form.uniqueness-incomplete'|trans|raw }}</h5>
    <p class="config-unique-title">{{ ('document-form.select.operatia') | trans }}</p>
    <select name="select_operatia" data-val="true" data-val-required="{{ 'form.required.field' | trans }}" class="selectmenu" id="operatia" onChange="configFormAddUniquenessOnFormModal(jQuery(this).val(), '{{ 'modal.config-form-add-uniqueness-on-form.body'|trans({'%title%' : creditsUsage.formular.name, '%credits%': creditsUsage.credit, '%plural%' : (creditsUsage.credit == 1) ? 'modal.config-form-add-uniqueness-on-form.credit'|trans : 'modal.config-form-add-uniqueness-on-form.credits'|trans })}}');">
        {% if egd.unique.operatia|length > 1 %}
            <option></option>
        {% endif %}
        {% for keyItem, item in egd.unique.operatia %}
            <option value="{{ keyItem }}">{{ item }}</option>
        {% endfor %}
    </select>
    <span class="field-validation-valid" data-valmsg-for="select_operatia" data-valmsg-replace="true" ></span>
    <div id="formularError"></div>
    <br/><br/><br/>
</div>
<script type="text/javascript">
    function configFormAddUniquenessOnFormModal(configOption, textBody)
    {
        {% if isUserException %}
            AjaxConfigFormAddUniquenessOnFormModal();
        {% else %} 
            if (configOption) {
                $('#configFormAddUniquenessOnFormModalBody').html(textBody);
                $('#configFormAddUniquenessOnFormModal').modal();
                $('#configOperatia').val(configOption);
            }
        {% endif %}
    }

    $('#configFormAddUniquenessOnFormModalYes').click(function () {
        AjaxConfigFormAddUniquenessOnFormModal();
        $('#documentConfirmModal').modal('toggle');
    });
    
    function AjaxConfigFormAddUniquenessOnFormModal() 
    {
        var configOperatia = $('#configOperatia').val();
        $.ajax({
            type: "POST",
            url: '{{ path('unique_configuration_on_form_egd') }}',
            data: {creditUsageId: '{{ creditsUsage.id }}', configOperatia: configOperatia },
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    $('#totalUserCredits').text(response.credits);
                    var url = '{{ path('formular_show' , {'slug': creditsUsage.formular.slug, 'hash': 'hash' }) }}';
                    window.location.href = url.replace("hash", response.formHash);
                } else {
                    $('#formularError').addClass('color-red');
                    $('#formularError').text(response.message);
                }                            
                
            }
        });
    }
    
</script>