{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block ccontainer %}
    
    <h2 class="title">{{ 'Decizie privind componenta CSSM' | trans }}</h2>

    {% for flash_message in app.session.flashbag.get('form-success') %}
        <h4 class="color-green text-center first flash-message" >{{ flash_message|trans }}</h4>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('form-error') %}
        <h4 class="color-red text-center first flash-message" >{{ flash_message|trans|raw }}</h4>
    {% endfor %}

    <h4 class="color-red text-center first" id="globalErrors" hidden="hidden">{{ 'Mai aveti erori' | trans }}</h4>

    <div class="col-xs-12">    
        <form class="formular-form" id="decizie_componenta_cssm" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            
            {{ form_row(form.company) }}
            
            {{ form_row(form.administrator, 
                    {'attr': {'data-val': 'true',
                    'data-val-required': 'Acest camp este obligatoriu' | trans,
                    } } ) }}
            <span class="field-validation-valid" data-valmsg-for="{{ form.administrator.vars.full_name }}" data-valmsg-replace="true" ></span>

            {{ form_row(form.presedinte, 
                    {'attr': {'data-val': 'true',
                    'data-val-required': 'Acest camp este obligatoriu' | trans,
                    } } ) }}
            <span class="field-validation-valid" data-valmsg-for="{{ form.presedinte.vars.full_name }}" data-valmsg-replace="true" ></span>
            
            {{ form_row(form.secretar, 
                    {'attr': {'data-val': 'true',
                    'data-val-required': 'Acest camp este obligatoriu' | trans,
                    } } ) }}
            <span class="field-validation-valid" data-valmsg-for="{{ form.secretar.vars.full_name }}" data-valmsg-replace="true" ></span>
            
            <section>
                <h3>{{ 'Reprezentati ai lucratorilor:' | trans }}</h3>
                <ul id="membrii-fields-list" data-prototype="
                    {% filter escape %}
                        {{ include('document_form/base/prototype_person.html.twig', { 'form': form.membrii.vars.prototype }) }}
                    {% endfilter %}">
                    {% for item in form.membrii %}
                        <li>
                            {{ form_row(item.name, 
                                {'attr': {'data-val': 'true',
                                'data-val-required': 'Acest camp este obligatoriu' | trans,
                                } } ) }}
                            <span class="field-validation-valid" data-valmsg-for="{{ form.membrii.vars.full_name }}[{{ loop.index0 }}][name]" data-valmsg-replace="true" ></span>
                        </li>
                    {% endfor %}
                </ul>
                <a class="costum" href="#" id="add-another-membru">{{ 'Adauga un nou membru - reprezentant al lucratorilor' | trans }}</a>            
                <script type="text/javascript">
                    // keep track of how many membrii fields have been rendered
                    var membriiCount = '{{ form.membrii|length }}';

                    jQuery(document).ready(function () {

                        var membriiList = jQuery('#membrii-fields-list');

                        // add a delete link to all of the existing speaker form li elements
                        membriiList.find('li').each(function (index) {
                            addMembruFormDeleteLink($(this));
                        });

                        jQuery('#add-another-membru').click(function (e) {
                            e.preventDefault();

                            var membriiList = jQuery('#membrii-fields-list');

                            // grab the prototype template
                            var newWidget = membriiList.attr('data-prototype');
                            // replace the "__name__" used in the id and name of the prototype
                            // with a number that's unique to your companies
                            newWidget = newWidget.replace(/__name__/g, membriiCount);
                            membriiCount++;

                            // create a new list element and add it to the list
                            var newLi = jQuery('<li></li>').html(newWidget);
                            newLi.appendTo(membriiList);
                            addMembruFormDeleteLink(newLi);
                        });
                    });

                    function addMembruFormDeleteLink($membriiFormLi) {
                        var $removeFormA = $('<a href="#">{{ 'Sterge membru'|trans }}</a>');
                        $membriiFormLi.append($removeFormA);

                        $removeFormA.on('click', function (e) {
                            // prevent the link from creating a "#" on the URL
                            e.preventDefault();

                            // remove the li for the membrii form
                            $membriiFormLi.remove();
                        });
                    }
                </script>
            </section>
            
            {{ form_row(form.medic, 
                    {'attr': {'data-val': 'true',
                    'data-val-required': 'Acest camp este obligatoriu' | trans,
                    } } ) }}
            <span class="field-validation-valid" data-valmsg-for="{{ form.medic.vars.full_name }}" data-valmsg-replace="true" ></span>

            <div class="hidden">{{ form_rest(form) }}</div>
            <div class="craue_formflow_buttons">
                <button type="button" onclick="onDecizieComponentaCSSMSubmit();" class="craue_formflow_button_last">
                    {{- 'button.finish' | trans({}, 'CraueFormFlowBundle') -}}
                </button>
            </div>
        </form>
    </div>
                    
    <script type="text/javascript">
        function onDecizieComponentaCSSMSubmit() {
            jQuery('#membrii-fields-list li input').each(function () {
                jQuery(this).rules("add", {
                    required: true,
                    messages: {
                        required: 'Acest camp este obligatoriu'
                    }
                });
            });
            jQuery('#decizie_componenta_cssm').submit();
        }
    </script>
{% endblock %}