{% extends "base.html.twig" %}

{% block ccontainer %}
    <h2 class="title">{{ 'Evidenta Gestiunii Deseurilor' | trans }}</h2>

    <div class="col-xs-2">
        <ul class="nav nav-tabs clearfix" role="tablist">
            <li class="active"><a href="#formtab" role="tab" data-toggle="tab">{{ 'Date Generale' | trans }}</a></li>
            <li><a href="#formtab1" role="tab" data-toggle="tab">{{ 'Generarea deseurilor' | trans }}</a></li>
            <li><a href="#formtab2" role="tab" data-toggle="tab">{{ 'Stocarea provizorie, tratarea si transportul deseurilor' | trans }}</a></li>
            <li><a href="#formtab3" role="tab" data-toggle="tab">{{ 'Valorificare deseurilor' | trans }}</a></li>
            <li><a href="#formtab4" role="tab" data-toggle="tab">{{ 'Eliminarea deseurilor' | trans }}</a></li>
        </ul>
    </div>
    <div class="col-xs-10">
        {{ form_start(form) }}
        <div class="tab-content">
            <div id="formtab" class="tab-pane active">
                {{ form_row(form.agentEconomic) }}
                {{ form_row(form.an) }}
                <div class="col-xs-6">
                    {{ form_row(form.tipDeseu) }}
                </div>
                <div class="col-xs-6">
                    {{ form_row(form.tipDeseuCod) }}
                </div>
                {{ form_row(form.stareFizica) }}
                {{ form_row(form.unitateMasura) }}
                {{ form_widget(form.save1) }}
            </div>

            <div id="formtab1" class="tab-pane formular">
                <h3>{{ 'CAPITOLUL 1' | trans}}<br/>{{'Generare deseuri' | trans}}</h3>
                <table class="table table-bordered text-center form-table">
                    <tr>
                        <th class="text-center" rowspan="3">{{ 'Nr.' | trans }}</th>
                        <th class="text-center" rowspan="3">{{ 'Luna' | trans }}</th>
                        <th class="text-center" colspan="4">{{ 'Cantitatea de deseuri' | trans }}</th>
                    </tr>
                    <tr>
                        <th class="text-center" rowspan="2">{{ 'Generate' | trans }}</th>
                        <th class="text-center" colspan="3">{{ 'din care:' | trans }}</th>
                    </tr>
                    <tr>
                        <th class="text-center">{{ 'valorificata:' | trans }}</th>
                        <th class="text-center">{{ 'eliminata final:' | trans }}</th>
                        <th class="text-center">{{ 'ramasa in stoc:' | trans }}</th>
                    </tr>
                    {% for item in form.EGD1GenerareDeseuri %}
                        <tr>
                            <td>{{ (loop.index != loop.last) ? loop.index : "" }}</td>
                            <td>{{ form_widget(item.luna) }}</td>
                            <td>{{ form_widget(item.cantitateDeseuGenerate) }}</td>
                            <td>{{ form_widget(item.cantitateDeseuValorificata) }}</td>
                            <td>{{ form_widget(item.cantitateDeseuEliminata) }}</td>
                            <td>{{ form_widget(item.cantitateDeseuInStoc) }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {{ form_widget(form.save2) }}
            </div>

            <div id="formtab2" class="tab-pane formular">
                <h3>{{ 'CAPITOLUL 2' | trans}}<br/>{{'Stocarea provizorie, tratarea si transportul deseurilor' | trans}}</h3>
                <table class="table table-bordered text-center form-table">
                    <tr>
                        <th class="text-center" rowspan="2">{{ 'Nr crt.' | trans }}</th>
                        <th class="text-center" rowspan="2">{{ 'Luna' | trans }}</th>
                        <th class="text-center" rowspan="2">{{ 'Sectia' | trans }}</th>
                        <th class="text-center" colspan="2">{{ 'Stocare' | trans }}</th>
                        <th class="text-center" colspan="3">{{ 'Tratare' | trans }}</th>
                        <th class="text-center" colspan="2">{{ 'Transport' | trans }}</th>
                    </tr>
                    <tr>
                        <th class="text-center">{{ 'Cantitatea' | trans }}</th>
                        <th class="text-center">{{ 'Tipul' | trans }}</th>
                        <th class="text-center">{{ 'Cantitatea' | trans }}</th>
                        <th class="text-center">{{ 'Modul' | trans }}</th>
                        <th class="text-center">{{ 'Scopul' | trans }}</th>
                        <th class="text-center">{{ 'Mijlocul' | trans }}</th>
                        <th class="text-center">{{ 'Destinatia' | trans }}</th>
                    </tr>
                    {% for item in form.EGD2StocareTratareTransportDeseuri %}
                        <tr>
                            <td>{{ (loop.index != loop.last) ? loop.index : "" }}</td>
                            <td>{{ form_widget(item.luna) }}</td>
                            <td>{{ form_widget(item.sectia) }}</td>
                            <td>{{ form_widget(item.stocareCantitate) }}</td>
                            <td>{{ form_widget(item.stocareTip) }}</td>
                            <td>{{ form_widget(item.tratareCantitate) }}</td>
                            <td>{{ form_widget(item.tratareMod) }}</td>
                            <td>{{ form_widget(item.tratareScop) }}</td>
                            <td>{{ form_widget(item.transportMijloc) }}</td>
                            <td>{{ form_widget(item.transportDestinatie) }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {{ form_widget(form.save3) }}
            </div>

            <div id="formtab3" class="tab-pane formular">
                <h3>{{ 'CAPITOLUL 3' | trans}}<br/>{{'Valorificarea deseurilor' | trans}}</h3>
                <table class="table table-bordered text-center form-table">
                    <tr>
                        <th class="text-center">{{ 'Nr.' | trans }}</th>
                        <th class="text-center">{{ 'Luna' | trans }}</th>
                        <th class="text-center">{{ 'Cantitatea de deseu valorificata' | trans }}</th>
                        <th class="text-center">{{ 'Operatia de valorificare, conform Anexei IIB din legea 426/2001' | trans }}</th>
                        <th class="text-center">{{ 'Agentul economic care efectueaza operatia de valorificare' | trans }}</th>
                    </tr>
                    {% for item in form.EGD3ValorificareDeseuri %}
                        <tr>
                            <td>{{ (loop.index != loop.last) ? loop.index : "" }}</td>
                            <td>{{ form_widget(item.luna) }}</td>
                            <td>{{ form_widget(item.cantitateDeseuValorificata) }}</td>
                            <td>{{ form_widget(item.operatiaDeValorificare) }}</td>
                            <td>{{ form_widget(item.agentEconomicValorificare) }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {{ form_widget(form.save4) }}
            </div>

            <div id="formtab4" class="tab-pane formular">
                <h3>{{ 'CAPITOLUL 4' | trans}}<br/>{{'Eliminarea deseurilor' | trans}}</h3>
                <table class="table table-bordered text-center form-table">
                    <tr>
                        <th class="text-center">{{ 'Nr.' | trans }}</th>
                        <th class="text-center">{{ 'Luna' | trans }}</th>
                        <th class="text-center">{{ 'Cantitatea de deseu eliminata' | trans }}</th>
                        <th class="text-center">{{ 'Operatia de eliminare, conform Anexei IIA din legea 426/2001' | trans }}</th>
                        <th class="text-center">{{ 'Agentul economic care efectueaza operatia de eliminare' | trans }}</th>
                    </tr>
                    {% for item in form.EGD4EliminareDeseuri %}
                        <tr>
                            <td>{{ (loop.index != loop.last) ? loop.index : "" }}</td>
                            <td>{{ form_widget(item.luna) }}</td>
                            <td>{{ form_widget(item.cantitateDeseuEliminata) }}</td>
                            <td>{{ form_widget(item.operatiaDeEliminare) }}</td>
                            <td>{{ form_widget(item.agentEconomicEliminare) }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {{ form_widget(form.save5) }}
                {{ form_widget(form.generateDocument) }}
            </div>
            <br/>


            {{ form_end(form) }}
        </div>
    </div>
    <script>
        $('#evidenta_gestiunii_deseurilor_save1').click(function (event) {
            $('#evidenta_gestiunii_deseurilor_save1Clicked').val('true');
            var form = document.getElementsByName('evidenta_gestiunii_deseurilor');
            FpJsFormValidator.customize(form, {groups: ['button1']});
            FpJsFormValidator.customize(form, 'submitForm', event);
        });
        jQuery('#evidenta_gestiunii_deseurilor_save2').click(function () {
            jQuery('#evidenta_gestiunii_deseurilor_save1Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save2Clicked').val('true');
            var field = jQuery('form#evidenta_gestiunii_deseurilor');
            FpJsFormValidator.customize(field, {groups: ['button1', 'button2']});
            jQuery('form#evidenta_gestiunii_deseurilor').submit();
        });
        jQuery('#evidenta_gestiunii_deseurilor_save3').click(function () {
            jQuery('#evidenta_gestiunii_deseurilor_save1Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save2Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save3Clicked').val('true');
            var field = jQuery('form#evidenta_gestiunii_deseurilor');
            FpJsFormValidator.customize(field, {groups: ['button1', 'button2', 'button3']});
            jQuery('form#evidenta_gestiunii_deseurilor').submit();
        });
        jQuery('#evidenta_gestiunii_deseurilor_save4').click(function () {
            jQuery('#evidenta_gestiunii_deseurilor_save1Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save2Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save3Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save4Clicked').val('true');
            var field = jQuery('form#evidenta_gestiunii_deseurilor');
            FpJsFormValidator.customize(field, {groups: ['button1', 'button2', 'button3', 'button4']});
            jQuery('form#evidenta_gestiunii_deseurilor').submit();
        });
        jQuery('#evidenta_gestiunii_deseurilor_save5').click(function () {
            jQuery('#evidenta_gestiunii_deseurilor_save1Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save2Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save3Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save4Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save5Clicked').val('true');
            var field = jQuery('form#evidenta_gestiunii_deseurilor');
            FpJsFormValidator.customize(field, {groups: ['button1', 'button2', 'button3', 'button4', 'button5']});
            jQuery('form#evidenta_gestiunii_deseurilor').submit();
        });
        jQuery('#evidenta_gestiunii_deseurilor_generateDocument').click(function () {
            jQuery('#evidenta_gestiunii_deseurilor_save1Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save2Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save3Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save4Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_save5Clicked').val('false');
            jQuery('#evidenta_gestiunii_deseurilor_generateDocumentClicked').val('true');
            var field = jQuery('form#evidenta_gestiunii_deseurilor');
            FpJsFormValidator.customize(field, {groups: ['generateDocument']});
            jQuery('form#evidenta_gestiunii_deseurilor').submit();
        });


    </script>
{% endblock %}
