{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block ccontainer %}

    <h2 class="title">{{ 'Proces Verbal Sedinta CSSM' | trans }}</h2>

    {% for flash_message in app.session.flashbag.get('form-success') %}
        <h4 class="color-green text-center first flash-message" >{{ flash_message|trans }}</h4>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('form-error') %}
        <h4 class="color-red text-center first flash-message" >{{ flash_message|trans|raw }}</h4>
    {% endfor %}

    <h4 class="color-red text-center first" id="globalErrors" hidden="hidden">{{ 'Mai aveti erori' | trans }}</h4>

    <div class="col-xs-12">    
        <form class="formular-form" id="proces_verbal_sedinta_cssm" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            {{ form_row(form.company, { 'attr': {'data-val': 'true',
                'data-val-required': 'Acest camp este obligatoriu' | trans,
                } } ) }}
            <span class="field-validation-valid" data-valmsg-for="{{ form.company.vars.full_name }}" data-valmsg-replace="true" ></span>
            
            {{ form_row(form.companyCity, { 'label': 'Sediu - Localitate',
                'attr': {'data-val': 'true',
                'data-val-required': 'Acest camp este obligatoriu' | trans,
                } } ) }}
            <span class="field-validation-valid" data-valmsg-for="{{ form.companyCity.vars.full_name }}" data-valmsg-replace="true" ></span>
            
            {{ form_row(form.room, 
                    { 'label': 'Sala intrunire',
                    'attr': {'data-val': 'true',
                    'data-val-required': 'Acest camp este obligatoriu' | trans,
                    } } ) }}
            <span class="field-validation-valid" data-valmsg-for="{{ form.room.vars.full_name }}" data-valmsg-replace="true" ></span>
            
            {{ form_row(form.meetingDate) }}
            <span class="field-validation-valid" id="error-meetingDate">{{ 'Completati toate detaliile referitor la data' | trans }}</span>
            <div class="clear-both"></div>            
            
            {% include "document_form/base/person_generic.html.twig" with { 'title': 'Presedinte', 'persons': form.president } %}

            {% include "document_form/base/person_generic.html.twig" with { 'title': 'Secretar', 'persons': form.secretary } %}

            <section>
                <h3>{{ 'Membrii CSSM, reprezentati ai lucratorilor:' | trans }}</h3>
                <ul id="membrii-fields-list" data-prototype="
                    {% filter escape %}
                        {{ include('document_form/base/prototype_person.html.twig', { 'form': form.members.vars.prototype }) }}
                    {% endfilter %}">
                    {% for item in form.members %}
                        <li>
                            <div class="col-xs-1 no-margin-left">
                                {{ form_row(item.gender, 
                                    {'attr': {'data-val': 'true',
                                    'data-val-required': ' ',
                                    } } ) }}
                                <span class="field-validation-valid" data-valmsg-for="{{ form.members.vars.full_name }}[{{ loop.index0 }}][gender]" data-valmsg-replace="true" ></span>
                            </div>
                            <div class="col-xs-11">
                                {{ form_row(item.name, 
                                    {'attr': {'data-val': 'true',
                                    'data-val-required': 'Acest camp este obligatoriu' | trans,
                                    } } ) }}
                                <span class="field-validation-valid" data-valmsg-for="{{ form.members.vars.full_name }}[{{ loop.index0 }}][name]" data-valmsg-replace="true" ></span>
                            </div>
                            <div class="clear-both"></div>
                        </li>
                    {% endfor %}
                </ul>
                <a class="costum" href="#" id="add-another-membru">{{ 'Adauga un nou membru CSSM' | trans }}</a>
                <div class="color-red no-display-membru" id="#error-no-membru">{{ 'Adaugati cel putin 1 membru' | trans }}</div>
                <script type="text/javascript">
                    // keep track of how many membrii fields have been rendered
                    var membriiCount = '{{ form.members|length }}';

                    jQuery(document).ready(function () {

                        var membriiList = jQuery('#membrii-fields-list');

                        // add a delete link to all of the existing speaker form li elements
                        membriiList.find('li').each(function (index) {
                            addMembruFormDeleteLink($(this));
                        });

                        jQuery('#add-another-membru').click(function (e) {
                            e.preventDefault();
                            jQuery('.no-display-membru').hide();

                            var membriiList = jQuery('#membrii-fields-list');

                            // grab the prototype template
                            var newWidget = membriiList.attr('data-prototype');
                            // replace the "__name__" used in the id and name of the prototype
                            // with a number that's unique to your companies
                            newWidget = newWidget.replace(/__name__/g, membriiCount);
                            membriiCount++;

                            // create a new list element and add it to the list
                            var newLi = jQuery('<li></li>').html(newWidget);
                            newLi.appendTo(membriiList);
                            addMembruFormDeleteLink(newLi);
                        });
                    });

                    function addMembruFormDeleteLink($membriiFormLi) {
                        var $removeFormA = $('<a href="#">{{ 'Sterge membru CSSM'|trans }}</a>');
                        $membriiFormLi.append($removeFormA);

                        $removeFormA.on('click', function (e) {
                            // prevent the link from creating a "#" on the URL
                            e.preventDefault();

                            // remove the li for the membrii form
                            $membriiFormLi.remove();
                        });
                    }
                </script>
            </section>
            <div class="clear-both"></div>

            {% include "document_form/base/person_generic.html.twig" with { 'title': 'Medic', 'persons': form.doctor } %}
            
            <section>
                <h3>{{ 'Ordinea de zi a intrunirii:' | trans }}</h3>
                <ul id="puncte-fields-list" data-prototype="
                    {% filter escape %}
                        {{ include('document_form/base/prototype_punct_ordine_zi_full.html.twig', { 'form': form.meetingPoints.vars.prototype }) }}
                    {% endfilter %}">
                    {% for item in form.meetingPoints %}
                        <li>
                            {{ form_row(item.meetingPoint, 
                                { 'label': 'Punct pe ordinea de zi',
                                'attr': {'data-val': 'true',
                                'data-val-required': 'Acest camp este obligatoriu' | trans,
                                } } ) }}
                            <span class="field-validation-valid" data-valmsg-for="{{ form.meetingPoints.vars.full_name }}[{{ loop.index0 }}][meetingPoint]" data-valmsg-replace="true" ></span>
                            {{ form_row(item.meetingPointSummary, 
                                { 'label': 'Concluzii dezbatere punct pe ordinea de zi',
                                'attr': {'data-val': 'true',
                                'data-val-required': 'Acest camp este obligatoriu' | trans,
                                } } ) }}
                            <span class="field-validation-valid" data-valmsg-for="{{ form.meetingPoints.vars.full_name }}[{{ loop.index0 }}][meetingPointSummary]" data-valmsg-replace="true" ></span>
                        </li>
                    {% endfor %}
                </ul>
                <a class="costum" href="#" id="add-another-punct">{{ 'Adauga un nou punct pe ordinea de zi' | trans }}</a>
                <div class="color-red no-display-punct" id="#error-no-punct">{{ 'Adaugati cel putin 1 punct' | trans }}</div>
                <script type="text/javascript">
                    // keep track of how many puncte fields have been rendered
                    var puncteCount = '{{ form.meetingPoints|length }}';

                    jQuery(document).ready(function () {

                        var puncteList = jQuery('#puncte-fields-list');

                        // add a delete link to all of the existing speaker form li elements
                        puncteList.find('li').each(function (index) {
                            addPuncteFormDeleteLink($(this));
                        });

                        jQuery('#add-another-punct').click(function (e) {
                            e.preventDefault();
                            jQuery('.no-display-punct').hide();

                            var puncteList = jQuery('#puncte-fields-list');

                            // grab the prototype template
                            var newWidget = puncteList.attr('data-prototype');
                            // replace the "__name__" used in the id and name of the prototype
                            // with a number that's unique to your companies
                            newWidget = newWidget.replace(/__name__/g, puncteCount);
                            puncteCount++;

                            // create a new list element and add it to the list
                            var newLi = jQuery('<li></li>').html(newWidget);
                            newLi.appendTo(puncteList);
                            addPuncteFormDeleteLink(newLi);
                        });
                    });

                    function addPuncteFormDeleteLink($puncteFormLi) {
                        var $removeFormA = $('<a href="#">{{ 'Sterge punct pe ordinea de zi'|trans }}</a>');
                        $puncteFormLi.append($removeFormA);

                        $removeFormA.on('click', function (e) {
                            // prevent the link from creating a "#" on the URL
                            e.preventDefault();

                            // remove the li for the puncte form
                            $puncteFormLi.remove();
                        });
                    }
                </script>
            </section>
            <div class="clear-both"></div>
            
            <div class="hidden">{{ form_rest(form) }}</div>
            <div class="craue_formflow_buttons">
                <button type="button" onclick="onProcesVerbalSedintaCSSMSubmit();" class="craue_formflow_button_last">
                    {{- 'button.finish' | trans({}, 'CraueFormFlowBundle') -}}
                </button>
                <button type="submit" name="btnSave" class="cancel" formnovalidate="formnovalidate">
                    {{- 'button.save' | trans({}, 'CraueFormFlowBundle') -}}
                </button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function onProcesVerbalSedintaCSSMSubmit() {            
            if (!(jQuery('#proces_verbal_sedinta_cssm_type_meetingDate_day').val() &&
                    jQuery('#proces_verbal_sedinta_cssm_type_meetingDate_month').val() &&
                    jQuery('#proces_verbal_sedinta_cssm_type_meetingDate_year').val())) {
                jQuery('#error-meetingDate').removeClass('field-validation-valid').addClass('field-validation-error');
                return false;
            } else {
                jQuery('#error-meetingDate').removeClass('field-validation-error').addClass('field-validation-valid');
            }

            if (!jQuery("#membrii-fields-list li").length) {
                jQuery('.no-display-membru').show();
                return false;
            }
            else {
                jQuery('.no-display-membru').hide();
                jQuery('#membrii-fields-list li input').each(function () {
                    jQuery(this).rules("add", {
                        required: true,
                        messages: {
                            required: 'Acest camp este obligatoriu'
                        }
                    });
                });
                jQuery('#membrii-fields-list li select').each(function () {
                    jQuery(this).rules("add", {
                        required: true
                    });
                });
            }
            
            if (!jQuery("#puncte-fields-list li").length) {
                jQuery('.no-display-punct').show();
                return false;
            }
            else {
                jQuery('.no-display-punct').hide();
                jQuery('#puncte-fields-list li textarea').each(function () {
                    jQuery(this).rules("add", {
                        required: true,
                        messages: {
                            required: 'Acest camp este obligatoriu'
                        }
                    });
                });
                jQuery('#puncte-fields-list li select').each(function () {
                    jQuery(this).rules("add", {
                        required: true
                    });
                });
            }
            
            jQuery('#proces_verbal_sedinta_cssm').submit();
        }
    </script>
{% endblock %}