{% extends "::base.html.twig" %}

{% block modal %}
    {% include 'document_form/config_form_add_confirm_modal.html.twig' %}
{% endblock modal %}

{% block ccontainer %}
    {% for flash_message in app.session.flashbag.get('document-generated-success') %}
        <h4 class="color-green text-center first" >{{ flash_message|trans }}</h4>
    {% endfor %}
    
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path('formular_documents_show') }}"><button class="custom pull-right">{{ 'formular-documents.reset-filter'|trans }}</button></a>
            <h1 class="title-top">{{ 'formular-documents.title' | trans }}</h1>
        </div>
        {% if pagination.items is not empty %}
            <table cellspacing="0" cellpadding="0" border="0" id="overview" class="display users documents clearfix dataTable" aria-describedby="overview_info">
                <thead>
                    <tr role="row">
                        <th>{{ 'formular-documents.company' | trans }}</th>
                        <th>{{ 'formular-documents.type' | trans }}</th>
                        <th>{{ 'formular-documents.generated' | trans }}</th>
                        <th>{{ 'formular-documents.date-expired' | trans }}</th>
                        <th>{{ 'formular-documents.actions' | trans }}</th>
                        <th>{{ 'formular-documents.new' | trans }}</th>
                    </tr>
                </thead>           
                <tbody>
                    {% for doc in pagination.items %}
                        <tr class="{{ (loop.index % 2) ? "odd" : "even" }}">
                            <td class="">{{ doc.company }}</td>
                            <td class="">{{ doc.fname }}</td>
                            <td class="">{{ ((doc.mid is not null) ? 'formular-documents.generated-yes' : 'formular-documents.generated-no') | trans }}</td>
                            <td class="">{{ doc.expireDate|date('d-m-Y') }}</td>
                            <td class="">
                                {% if date(doc.expireDate) > date() %}
                                    <a href="{{ path('formular_show' , {'slug': doc.fslug, 'hash': doc.formHash }) }}">
                                        <img alt="EditDocImg" src="{{ asset("assets/images/EditDoc.png") }}" id="EditDocImg" title="{{ 'formular-documents.edit' | trans }}" class="image-cursor-pointer table-users-overview-actions-image-space">
                                    </a>
                                {% endif %}
                                {% if doc.mid is not null %}
                                    <a href="{{ path('sonata_media_download', {'id': doc.mid }) }}">
                                        <img alt="DownloadsDocImg" src="{{ asset("assets/images/DownloadsDoc.png") }}" id="DownloadsDocImg" title="{{ 'formular-documents.download' | trans }}" class="image-cursor-pointer table-users-overview-actions-image-space">
                                    </a>
                                {% endif %}
                            </td>
                            <td class="">
                                {% if doc.discountedCreditValue is not null %}
                                    {% set colorClass = (isUserException) ? "green" : ((doc.discountedCreditValue > 0) ? "red" : "green") %}
                                    <a title="{{ 'formular-documents.new-documents' | trans }}" onclick="createNewFormularDocument('{{ doc.cuid }}', '{{ doc.isDraft }}', '{{ 'modal.config-form-add-confirm.body'|trans({'%title%' : doc.fname, '%credits%': doc.discountedCreditValue, '%plural%' : (doc.discountedCreditValue == 1) ? 'modal.config-form-add-confirm.credit'|trans : 'modal.config-form-add-confirm.credits'|trans }) }}');">
                                        <div class="credit-icon">
                                            <div class="credit-icon-value color-{{ colorClass }} create-new">
                                                {{ isUserException ? 0 : doc.discountedCreditValue }}
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="{{ (loop.index % 2) ? "odd" : "even" }}"><td colspan="6">
                            <p id="formularError{{ doc.cuid }}"></p>
                            <b>{{ 'formular-documents.configuration' | trans }}</b>:
                            <span>
                                {% for configName, configValue in doc.formConfig %}
                                    <b>{{ configName | capitalize | replace({"_":" "}) }}: </b>{{ configValue }};
                                {% endfor %}
                            </span>
                        </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ 'formular-documents.no-documents' | trans }}</p>
        {% endif %}
    </div>
        
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
        
    <script type="text/javascript">
        function createNewFormularDocument(creditUsageId, isDraft, textBodyModal) {
            {% if isUserException %}
                AjaxCreateNewFormularDocument(creditUsageId); 
            {% else %}
                if (isDraft) {
                    AjaxCreateNewFormularDocument(creditUsageId);
                } else {
                    $('#configFormConfirmModalBody').text(textBodyModal);
                    $('#configFormConfirmModalCreditUsageId').val(creditUsageId);
                    $('#configFormAddConfirmModal').modal();
                }
            {% endif %}
        }
        
        $('#configFormAddConfirmModalYes').click(function () {
            $('#configFormAddConfirmModal').modal('toggle');
            AjaxCreateNewFormularDocument(jQuery("#configFormConfirmModalCreditUsageId").val());
        });

        function AjaxCreateNewFormularDocument(creditUsageId)
        {
            $.ajax({
                type: "POST",
                url: '{{ path("unlock_formular_from_old") }}',
                data: { 'creditUsageId': creditUsageId },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        $('#totalUserCredits').text(response.credits);
                        var url = '{{ path('formular_show' , {'slug': 'slug', 'hash': 'hash' }) }}';
                        window.location.href = url.replace("slug", response.formSlug).replace("hash", response.formHash); 
                    } else {
                        $('#formularError' + creditUsageId).addClass('color-red');
                        $('#formularError' + creditUsageId).text(response.message);
                    }
                }
            });
        }
    </script>
{% endblock %}

